pipeline/pip_bo_sap_orders_docLines.json
{
	"name": "pip_bo_sap_orders_docLines",
	"properties": {
		"activities": [
			{
				"name": "AllPagesFetched",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@empty(variables('nextLink'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ApiCallPagination",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "ETLDocLines",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@concat(variables('baseUrl'),variables('nextLink'))",
									"type": "Expression"
								},
								"authentication": {
									"type": "Basic",
									"username": "{\"CompanyDB\":\"BONDURA\",\"UserName\":\"CLOUD\\\\ui.report\"}",
									"password": {
										"type": "AzureKeyVaultSecret",
										"store": {
											"referenceName": "AzureKeyVault_bo",
											"type": "LinkedServiceReference"
										},
										"secretName": "Bondura"
									}
								}
							}
						},
						{
							"name": "GetNextLink",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "ApiCallPagination",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "nextLink",
								"value": {
									"value": "@activity('ApiCallPagination').output['@odata.nextLink']\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ETLDocLines",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_bo_orders_doclines",
									"type": "DataFlowReference",
									"datasetParameters": {
										"apiOrders": {
											"QueryParam": {
												"value": "@variables('nextLink')",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 16,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"variables": {
			"baseUrl": {
				"type": "String",
				"defaultValue": "https://SU-2111-139.emea.businessone.cloud.sap/b1s/v2/"
			},
			"nextLink": {
				"type": "String",
				"defaultValue": "Orders"
			}
		},
		"annotations": []
	}
}