pipeline/pip_api_blob.json
{
	"name": "pip_api_blob",
	"properties": {
		"activities": [
			{
				"name": "AllPagesFetched",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(bool(variables('repeat')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyApiToBlob",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings",
										"filePattern": "setOfObjects"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_bo_sap_parametrized",
									"type": "DatasetReference",
									"parameters": {
										"ResPath": {
											"value": "@variables('nextLink')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_blob_bondura",
									"type": "DatasetReference",
									"parameters": {
										"Directory": {
											"value": "@pipeline().parameters.Stream",
											"type": "Expression"
										},
										"FileName": {
											"value": "@concat(utcnow(), '.json')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "ApiCallPagination",
							"description": "call api again and get next link",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "CopyApiToBlob",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@concat(variables('baseUrl'),variables('nextLink'),'&$select=DocNum')",
									"type": "Expression"
								},
								"authentication": {
									"type": "Basic",
									"username": "{\"CompanyDB\":\"BONDURA\",\"UserName\":\"CLOUD\\\\ui.report\"}",
									"password": {
										"type": "AzureKeyVaultSecret",
										"store": {
											"referenceName": "AzureKeyVault_bo_sap",
											"type": "LinkedServiceReference"
										},
										"secretName": "Bondura"
									}
								}
							}
						},
						{
							"name": "SetNextLink",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "ApiCallPagination",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "nextLink",
								"value": {
									"value": "@if(contains(activity('ApiCallPagination').output, '@odata.nextLink'), replace(activity('ApiCallPagination').output['@odata.nextLink'],'&$select=DocNum' , '' ), 'false')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetRepeat",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SetNextLink",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "repeat",
								"value": {
									"value": "@if(not(equals(variables('nextLink'), 'false')), true, false)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Stop",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "CopyApiToBlob",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "ApiCallPagination",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "SetNextLink",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "SetRepeat",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "repeat",
								"value": {
									"value": "@bool(0)",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"parameters": {
			"Stream": {
				"type": "string",
				"defaultValue": "Invoices"
			}
		},
		"variables": {
			"baseUrl": {
				"type": "String",
				"defaultValue": "https://SU-2111-139.emea.businessone.cloud.sap/b1s/v2/"
			},
			"nextLink": {
				"type": "String",
				"defaultValue": "Invoices?$filter=DocDate%20gt%20%272024-01-01%27&$skip=0"
			},
			"repeat": {
				"type": "Boolean",
				"defaultValue": true
			}
		},
		"annotations": []
	}
}