pipeline/pip_bo_sap_invoices_docLines.json
{
	"name": "pip_bo_sap_invoices_docLines",
	"properties": {
		"activities": [
			{
				"name": "AllPagesFetched",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(bool(variables('repeat')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ApiCallPagination",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "ETLDocLines",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@concat(variables('baseUrl'),variables('nextLink'),'&$select=DocNum')",
									"type": "Expression"
								},
								"authentication": {
									"type": "Basic",
									"username": "{\"CompanyDB\":\"BONDURA\",\"UserName\":\"CLOUD\\\\ui.report\"}",
									"password": {
										"type": "AzureKeyVaultSecret",
										"store": {
											"referenceName": "AzureKeyVault_bo",
											"type": "LinkedServiceReference"
										},
										"secretName": "Bondura"
									}
								}
							}
						},
						{
							"name": "GetNextLink",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "ApiCallPagination",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "nextLink",
								"value": {
									"value": "@if(contains(activity('ApiCallPagination').output, '@odata.nextLink'), replace(activity('ApiCallPagination').output['@odata.nextLink'],'&$select=DocNum' , '' ), 'false')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ETLDocLines",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "ETLInvoices",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_bo_invoices_doclines",
									"type": "DataFlowReference",
									"datasetParameters": {
										"apiOrders": {
											"QueryParam": {
												"value": "@variables('nextLink')",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 32,
									"computeType": "MemoryOptimized"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "ETLInvoices",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_bo_invoices",
									"type": "DataFlowReference",
									"datasetParameters": {
										"ApiCall": {
											"QueryParam": {
												"value": "@variables('nextLink')",
												"type": "Expression"
											}
										}
									}
								},
								"integrationRuntime": {
									"referenceName": "integrationRuntimeLarge",
									"type": "IntegrationRuntimeReference"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "ErrorStop",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GetNextLink",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "ApiCallPagination",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "ETLDocLines",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "ETLInvoices",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "CheckRepeat",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "repeat",
								"value": {
									"value": "@bool(0)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "CheckRepeat",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GetNextLink",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "repeat",
								"value": {
									"value": "@if(not(equals(variables('nextLink'), 'false')), true, false)",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"variables": {
			"baseUrl": {
				"type": "String",
				"defaultValue": "https://SU-2111-139.emea.businessone.cloud.sap/b1s/v2/"
			},
			"nextLink": {
				"type": "String",
				"defaultValue": "Invoices?$skip=8000"
			},
			"repeat": {
				"type": "Boolean",
				"defaultValue": true
			}
		},
		"annotations": []
	}
}