pipeline/pipeline_test.json
{
	"name": "pipeline_test",
	"properties": {
		"activities": [
			{
				"name": "ETL_documentLines",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "GetNextLink",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_bo_orders_doclines",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 16,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Pagination",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://SU-2111-139.emea.businessone.cloud.sap/b1s/v2/Orders?$count=true",
					"authentication": {
						"type": "Basic",
						"username": "{\"CompanyDB\":\"BONDURA\",\"UserName\":\"CLOUD\\\\ui.report\"}",
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "AzureKeyVault_bo_sap",
								"type": "LinkedServiceReference"
							},
							"secretName": "Bondura"
						}
					}
				}
			},
			{
				"name": "GetNextLink",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Pagination",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "NextLink",
					"value": {
						"value": "@activity('Pagination').output['@odata.nextLink']\n",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"BaseUrl": {
				"type": "String"
			},
			"NextLink": {
				"type": "String"
			},
			"HasMorePages": {
				"type": "String"
			}
		},
		"annotations": []
	}
}