pipeline/pipe_blob_sql.json
{
	"name": "pipe_blob_sql",
	"properties": {
		"activities": [
			{
				"name": "ListFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_blob_bondura",
						"type": "DatasetReference",
						"parameters": {
							"Directory": "Invoices",
							"FileName": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ListFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ListFiles').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "JsonToSql",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "m_ds",
											"value": "'Bondura'"
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Warning",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "AzureBlobStorage_json",
											"type": "LinkedServiceReference"
										},
										"path": "copyactivity-logs"
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['DocEntry']"
											},
											"sink": {
												"name": "DocEntry",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['DocNum']"
											},
											"sink": {
												"name": "DocNum",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['DocType']"
											},
											"sink": {
												"name": "DocType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['HandWritten']"
											},
											"sink": {
												"name": "HandWritten",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Printed']"
											},
											"sink": {
												"name": "Printed",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DocDate']"
											},
											"sink": {
												"name": "DocDate",
												"type": "Date"
											}
										},
										{
											"source": {
												"path": "['DocDueDate']"
											},
											"sink": {
												"name": "DocDueDate",
												"type": "Date"
											}
										},
										{
											"source": {
												"path": "['CardCode']"
											},
											"sink": {
												"name": "CardCode",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['CardName']"
											},
											"sink": {
												"name": "CardName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Address']"
											},
											"sink": {
												"name": "Address",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['NumAtCard']"
											},
											"sink": {
												"name": "NumAtCard",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DocTotal']"
											},
											"sink": {
												"name": "DocTotal",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['AttachmentEntry']"
											},
											"sink": {
												"name": "AttachmentEntry",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DocCurrency']"
											},
											"sink": {
												"name": "DocCurrency",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DocRate']"
											},
											"sink": {
												"name": "DocRate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Reference1']"
											},
											"sink": {
												"name": "Reference1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Reference2']"
											},
											"sink": {
												"name": "Reference2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Comments']"
											},
											"sink": {
												"name": "Comments",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['JournalMemo']"
											},
											"sink": {
												"name": "JournalMemo",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PaymentGroupCode']"
											},
											"sink": {
												"name": "PaymentGroupCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DocTime']"
											},
											"sink": {
												"name": "DocTime",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['SalesPersonCode']"
											},
											"sink": {
												"name": "SalesPersonCode",
												"type": "Int16"
											}
										},
										{
											"source": {
												"path": "['TransportationCode']"
											},
											"sink": {
												"name": "TransportationCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Confirmed']"
											},
											"sink": {
												"name": "Confirmed",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ImportFileNum']"
											},
											"sink": {
												"name": "ImportFileNum",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['SummeryType']"
											},
											"sink": {
												"name": "SummeryType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ContactPersonCode']"
											},
											"sink": {
												"name": "ContactPersonCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ShowSCN']"
											},
											"sink": {
												"name": "ShowSCN",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Series']"
											},
											"sink": {
												"name": "Series",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['TaxDate']"
											},
											"sink": {
												"name": "TaxDate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PartialSupply']"
											},
											"sink": {
												"name": "PartialSupply",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DocObjectCode']"
											},
											"sink": {
												"name": "DocObjectCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ShipToCode']"
											},
											"sink": {
												"name": "ShipToCode"
											}
										},
										{
											"source": {
												"path": "['Indicator']"
											},
											"sink": {
												"name": "Indicator",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['FederalTaxID']"
											},
											"sink": {
												"name": "FederalTaxID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DiscountPercent']"
											},
											"sink": {
												"name": "DiscountPercent",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PaymentReference']"
											},
											"sink": {
												"name": "PaymentReference",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['CreationDate']"
											},
											"sink": {
												"name": "CreationDate",
												"type": "Date"
											}
										},
										{
											"source": {
												"path": "['UpdateDate']"
											},
											"sink": {
												"name": "UpdateDate",
												"type": "Date"
											}
										},
										{
											"source": {
												"path": "['FinancialPeriod']"
											},
											"sink": {
												"name": "FinancialPeriod",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['UserSign']"
											},
											"sink": {
												"name": "UserSign",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['TransNum']"
											},
											"sink": {
												"name": "TransNum",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['VatSum']"
											},
											"sink": {
												"name": "VatSum",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['VatSumSys']"
											},
											"sink": {
												"name": "VatSumSys",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['VatSumFc']"
											},
											"sink": {
												"name": "VatSumFc",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['NetProcedure']"
											},
											"sink": {
												"name": "NetProcedure",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DocTotalFc']"
											},
											"sink": {
												"name": "DocTotalFc",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['DocTotalSys']"
											},
											"sink": {
												"name": "DocTotalSys",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['Form1099']"
											},
											"sink": {
												"name": "Form1099",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Box1099']"
											},
											"sink": {
												"name": "Box1099",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['RevisionPo']"
											},
											"sink": {
												"name": "RevisionPo",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['RequriedDate']"
											},
											"sink": {
												"name": "RequriedDate",
												"type": "Date"
											}
										},
										{
											"source": {
												"path": "['CancelDate']"
											},
											"sink": {
												"name": "CancelDate",
												"type": "Date"
											}
										},
										{
											"source": {
												"path": "['BlockDunning']"
											},
											"sink": {
												"name": "BlockDunning",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Submitted']"
											},
											"sink": {
												"name": "Submitted",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Segment']"
											},
											"sink": {
												"name": "Segment",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PickStatus']"
											},
											"sink": {
												"name": "PickStatus",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Pick']"
											},
											"sink": {
												"name": "Pick",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PaymentMethod']"
											},
											"sink": {
												"name": "PaymentMethod",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PaymentBlock']"
											},
											"sink": {
												"name": "PaymentBlock",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PaymentBlockEntry']"
											},
											"sink": {
												"name": "PaymentBlockEntry",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['CentralBankIndicator']"
											},
											"sink": {
												"name": "CentralBankIndicator",
												"type": "Single"
											}
										},
										{
											"source": {
												"path": "['MaximumCashDiscount']"
											},
											"sink": {
												"name": "MaximumCashDiscount",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Reserve']"
											},
											"sink": {
												"name": "Reserve",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Project']"
											},
											"sink": {
												"name": "Project",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ExemptionValidityDateFrom']"
											},
											"sink": {
												"name": "ExemptionValidityDateFrom",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ExemptionValidityDateTo']"
											},
											"sink": {
												"name": "ExemptionValidityDateTo",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['WareHouseUpdateType']"
											},
											"sink": {
												"name": "WareHouseUpdateType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Rounding']"
											},
											"sink": {
												"name": "Rounding",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ExternalCorrectedDocNum']"
											},
											"sink": {
												"name": "ExternalCorrectedDocNum",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['InternalCorrectedDocNum']"
											},
											"sink": {
												"name": "InternalCorrectedDocNum",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['NextCorrectingDocument']"
											},
											"sink": {
												"name": "NextCorrectingDocument",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DeferredTax']"
											},
											"sink": {
												"name": "value'][0]['DeferredTax",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['TaxExemptionLetterNum']"
											},
											"sink": {
												"name": "TaxExemptionLetterNum",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['WTApplied']"
											},
											"sink": {
												"name": "WTApplied",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['WTAppliedFC']"
											},
											"sink": {
												"name": "WTAppliedFC",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['BillOfExchangeReserved']"
											},
											"sink": {
												"name": "BillOfExchangeReserved",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['AgentCode']"
											},
											"sink": {
												"name": "AgentCode",
												"type": "Int16"
											}
										},
										{
											"source": {
												"path": "['WTAppliedSC']"
											},
											"sink": {
												"name": "WTAppliedSC",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['TotalEqualizationTax']"
											},
											"sink": {
												"name": "TotalEqualizationTax",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['TotalEqualizationTaxFC']"
											},
											"sink": {
												"name": "TotalEqualizationTaxFC",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['TotalEqualizationTaxSC']"
											},
											"sink": {
												"name": "TotalEqualizationTaxSC",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['NumberOfInstallments']"
											},
											"sink": {
												"name": "NumberOfInstallments",
												"type": "Int16"
											}
										},
										{
											"source": {
												"path": "['ApplyTaxOnFirstInstallment']"
											},
											"sink": {
												"name": "ApplyTaxOnFirstInstallment",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['WTNonSubjectAmount']"
											},
											"sink": {
												"name": "WTNonSubjectAmount",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['WTNonSubjectAmountSC']"
											},
											"sink": {
												"name": "WTNonSubjectAmountSC",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['WTNonSubjectAmountFC']"
											},
											"sink": {
												"name": "WTNonSubjectAmountFC",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['WTExemptedAmount']"
											},
											"sink": {
												"name": "WTExemptedAmount",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['WTExemptedAmountSC']"
											},
											"sink": {
												"name": "WTExemptedAmountSC",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['WTExemptedAmountFC']"
											},
											"sink": {
												"name": "WTExemptedAmountFC",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['BaseAmount']"
											},
											"sink": {
												"name": "BaseAmount",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['BaseAmountSC']"
											},
											"sink": {
												"name": "BaseAmountSC",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['BaseAmountFC']"
											},
											"sink": {
												"name": "BaseAmountFC",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['WTAmount']"
											},
											"sink": {
												"name": "WTAmount",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['WTAmountSC']"
											},
											"sink": {
												"name": "WTAmountSC",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['WTAmountFC']"
											},
											"sink": {
												"name": "WTAmountFC",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['VatDate']"
											},
											"sink": {
												"name": "VatDate",
												"type": "Date"
											}
										},
										{
											"source": {
												"path": "['DocumentsOwner']"
											},
											"sink": {
												"name": "DocumentsOwner",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['FolioPrefixString']"
											},
											"sink": {
												"name": "FolioPrefixString",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['FolioNumber']"
											},
											"sink": {
												"name": "FolioNumber",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DocumentSubType']"
											},
											"sink": {
												"name": "DocumentSubType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['BPChannelCode']"
											},
											"sink": {
												"name": "BPChannelCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['BPChannelContact']"
											},
											"sink": {
												"name": "BPChannelContact",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Address2']"
											},
											"sink": {
												"name": "Address2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DocumentStatus']"
											},
											"sink": {
												"name": "DocumentStatus",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PeriodIndicator']"
											},
											"sink": {
												"name": "PeriodIndicator",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PayToCode']"
											},
											"sink": {
												"name": "PayToCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ManualNumber']"
											},
											"sink": {
												"name": "ManualNumber",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['UseShpdGoodsAct']"
											},
											"sink": {
												"name": "UseShpdGoodsAct",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['IsPayToBank']"
											},
											"sink": {
												"name": "IsPayToBank",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PayToBankCountry']"
											},
											"sink": {
												"name": "PayToBankCountry",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PayToBankCode']"
											},
											"sink": {
												"name": "PayToBankCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PayToBankAccountNo']"
											},
											"sink": {
												"name": "PayToBankAccountNo",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PayToBankBranch']"
											},
											"sink": {
												"name": "PayToBankBranch",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['BPL_IDAssignedToInvoice']"
											},
											"sink": {
												"name": "BPL_IDAssignedToInvoice",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DownPayment']"
											},
											"sink": {
												"name": "DownPayment",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['ReserveInvoice']"
											},
											"sink": {
												"name": "ReserveInvoice",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['LanguageCode']"
											},
											"sink": {
												"name": "LanguageCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['TrackingNumber']"
											},
											"sink": {
												"name": "TrackingNumber",
												"type": "Single"
											}
										},
										{
											"source": {
												"path": "['PickRemark']"
											},
											"sink": {
												"name": "PickRemark",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ClosingDate']"
											},
											"sink": {
												"name": "ClosingDate",
												"type": "Date"
											}
										},
										{
											"source": {
												"path": "['SequenceCode']"
											},
											"sink": {
												"name": "SequenceCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['SequenceSerial']"
											},
											"sink": {
												"name": "SequenceSerial",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['SeriesString']"
											},
											"sink": {
												"name": "SeriesString",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['SubSeriesString']"
											},
											"sink": {
												"name": "SubSeriesString",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['SequenceModel']"
											},
											"sink": {
												"name": "SequenceModel",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['UseCorrectionVATGroup']"
											},
											"sink": {
												"name": "UseCorrectionVATGroup",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['TotalDiscount']"
											},
											"sink": {
												"name": "TotalDiscount",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['DownPaymentAmount']"
											},
											"sink": {
												"name": "DownPaymentAmount",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['DownPaymentPercentage']"
											},
											"sink": {
												"name": "DownPaymentPercentage",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['DownPaymentType']"
											},
											"sink": {
												"name": "DownPaymentType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DownPaymentAmountSC']"
											},
											"sink": {
												"name": "DownPaymentAmountSC",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['DownPaymentAmountFC']"
											},
											"sink": {
												"name": "DownPaymentAmountFC",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['VatPercent']"
											},
											"sink": {
												"name": "VatPercent",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['ServiceGrossProfitPercent']"
											},
											"sink": {
												"name": "ServiceGrossProfitPercent",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['OpeningRemarks']"
											},
											"sink": {
												"name": "OpeningRemarks",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ClosingRemarks']"
											},
											"sink": {
												"name": "ClosingRemarks",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['RoundingDiffAmount']"
											},
											"sink": {
												"name": "RoundingDiffAmount",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['RoundingDiffAmountFC']"
											},
											"sink": {
												"name": "RoundingDiffAmountFC",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['RoundingDiffAmountSC']"
											},
											"sink": {
												"name": "RoundingDiffAmountSC",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Cancelled']"
											},
											"sink": {
												"name": "Cancelled",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['SignatureInputMessage']"
											},
											"sink": {
												"name": "SignatureInputMessage",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['SignatureDigest']"
											},
											"sink": {
												"name": "SignatureDigest",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['CertificationNumber']"
											},
											"sink": {
												"name": "CertificationNumber",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PrivateKeyVersion']"
											},
											"sink": {
												"name": "PrivateKeyVersion",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ControlAccount']"
											},
											"sink": {
												"name": "ControlAccount",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['InsuranceOperation347']"
											},
											"sink": {
												"name": "InsuranceOperation347",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ArchiveNonremovableSalesQuotation']"
											},
											"sink": {
												"name": "ArchiveNonremovableSalesQuotation",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['GTSChecker']"
											},
											"sink": {
												"name": "GTSChecker",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['GTSPayee']"
											},
											"sink": {
												"name": "GTSPayee",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ExtraMonth']"
											},
											"sink": {
												"name": "ExtraMonth",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ExtraDays']"
											},
											"sink": {
												"name": "ExtraDays",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['CashDiscountDateOffset']"
											},
											"sink": {
												"name": "CashDiscountDateOffset",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['StartFrom']"
											},
											"sink": {
												"name": "StartFrom",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['NTSApproved']"
											},
											"sink": {
												"name": "NTSApproved",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ETaxWebSite']"
											},
											"sink": {
												"name": "ETaxWebSite",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ETaxNumber']"
											},
											"sink": {
												"name": "ETaxNumber",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['NTSApprovedNumber']"
											},
											"sink": {
												"name": "NTSApprovedNumber",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['EDocGenerationType']"
											},
											"sink": {
												"name": "EDocGenerationType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['EDocSeries']"
											},
											"sink": {
												"name": "EDocSeries",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['EDocNum']"
											},
											"sink": {
												"name": "EDocNum",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['EDocExportFormat']"
											},
											"sink": {
												"name": "EDocExportFormat",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['EDocStatus']"
											},
											"sink": {
												"name": "EDocStatus",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['EDocErrorCode']"
											},
											"sink": {
												"name": "EDocErrorCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['EDocErrorMessage']"
											},
											"sink": {
												"name": "EDocErrorMessage",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DownPaymentStatus']"
											},
											"sink": {
												"name": "DownPaymentStatus",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['GroupSeries']"
											},
											"sink": {
												"name": "GroupSeries",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['GroupNumber']"
											},
											"sink": {
												"name": "GroupNumber",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['GroupHandWritten']"
											},
											"sink": {
												"name": "GroupHandWritten",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ReopenOriginalDocument']"
											},
											"sink": {
												"name": "ReopenOriginalDocument",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ReopenManuallyClosedOrCanceledDocument']"
											},
											"sink": {
												"name": "ReopenManuallyClosedOrCanceledDocument",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['CreateOnlineQuotation']"
											},
											"sink": {
												"name": "CreateOnlineQuotation",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['POSEquipmentNumber']"
											},
											"sink": {
												"name": "POSEquipmentNumber",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['POSManufacturerSerialNumber']"
											},
											"sink": {
												"name": "POSManufacturerSerialNumber",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['POSCashierNumber']"
											},
											"sink": {
												"name": "POSCashierNumber",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ApplyCurrentVATRatesForDownPaymentsToDraw']"
											},
											"sink": {
												"name": "ApplyCurrentVATRatesForDownPaymentsToDraw",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ClosingOption']"
											},
											"sink": {
												"name": "ClosingOption",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['SpecifiedClosingDate']"
											},
											"sink": {
												"name": "SpecifiedClosingDate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['OpenForLandedCosts']"
											},
											"sink": {
												"name": "OpenForLandedCosts",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['AuthorizationStatus']"
											},
											"sink": {
												"name": "AuthorizationStatus",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['TotalDiscountFC']"
											},
											"sink": {
												"name": "TotalDiscountFC",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['TotalDiscountSC']"
											},
											"sink": {
												"name": "TotalDiscountSC",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['RelevantToGTS']"
											},
											"sink": {
												"name": "RelevantToGTS",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['BPLName']"
											},
											"sink": {
												"name": "BPLName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['VATRegNum']"
											},
											"sink": {
												"name": "VATRegNum",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['AnnualInvoiceDeclarationReference']"
											},
											"sink": {
												"name": "AnnualInvoiceDeclarationReference",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Supplier']"
											},
											"sink": {
												"name": "Supplier",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Releaser']"
											},
											"sink": {
												"name": "Releaser",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Receiver']"
											},
											"sink": {
												"name": "Receiver",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['BlanketAgreementNumber']"
											},
											"sink": {
												"name": "BlanketAgreementNumber",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['IsAlteration']"
											},
											"sink": {
												"name": "IsAlteration",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['CancelStatus']"
											},
											"sink": {
												"name": "CancelStatus",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['AssetValueDate']"
											},
											"sink": {
												"name": "AssetValueDate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['InvoicePayment']"
											},
											"sink": {
												"name": "InvoicePayment",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DocumentDelivery']"
											},
											"sink": {
												"name": "DocumentDelivery",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['AuthorizationCode']"
											},
											"sink": {
												"name": "AuthorizationCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['StartDeliveryDate']"
											},
											"sink": {
												"name": "StartDeliveryDate",
												"type": "Date"
											}
										},
										{
											"source": {
												"path": "['StartDeliveryTime']"
											},
											"sink": {
												"name": "StartDeliveryTime",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['EndDeliveryDate']"
											},
											"sink": {
												"name": "EndDeliveryDate",
												"type": "Date"
											}
										},
										{
											"source": {
												"path": "['EndDeliveryTime']"
											},
											"sink": {
												"name": "EndDeliveryTime",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['VehiclePlate']"
											},
											"sink": {
												"name": "VehiclePlate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ATDocumentType']"
											},
											"sink": {
												"name": "ATDocumentType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ElecCommStatus']"
											},
											"sink": {
												"name": "ElecCommStatus",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ElecCommMessage']"
											},
											"sink": {
												"name": "ElecCommMessage",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ReuseDocumentNum']"
											},
											"sink": {
												"name": "ReuseDocumentNum",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ReuseNotaFiscalNum']"
											},
											"sink": {
												"name": "ReuseNotaFiscalNum",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PrintSEPADirect']"
											},
											"sink": {
												"name": "PrintSEPADirect",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['FiscalDocNum']"
											},
											"sink": {
												"name": "FiscalDocNum",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['POSDailySummaryNo']"
											},
											"sink": {
												"name": "POSDailySummaryNo",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['POSReceiptNo']"
											},
											"sink": {
												"name": "POSReceiptNo",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PointOfIssueCode']"
											},
											"sink": {
												"name": "PointOfIssueCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Letter']"
											},
											"sink": {
												"name": "Letter",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['FolioNumberFrom']"
											},
											"sink": {
												"name": "FolioNumberFrom",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['FolioNumberTo']"
											},
											"sink": {
												"name": "FolioNumberTo",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['InterimType']"
											},
											"sink": {
												"name": "InterimType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['RelatedType']"
											},
											"sink": {
												"name": "RelatedType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['RelatedEntry']"
											},
											"sink": {
												"name": "RelatedEntry",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['SAPPassport']"
											},
											"sink": {
												"name": "SAPPassport",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DocumentTaxID']"
											},
											"sink": {
												"name": "DocumentTaxID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DateOfReportingControlStatementVAT']"
											},
											"sink": {
												"name": "DateOfReportingControlStatementVAT",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ReportingSectionControlStatementVAT']"
											},
											"sink": {
												"name": "ReportingSectionControlStatementVAT",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ExcludeFromTaxReportControlStatementVAT']"
											},
											"sink": {
												"name": "ExcludeFromTaxReportControlStatementVAT",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['POS_CashRegister']"
											},
											"sink": {
												"name": "POS_CashRegister",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['UpdateTime']"
											},
											"sink": {
												"name": "UpdateTime",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['CreateQRCodeFrom']"
											},
											"sink": {
												"name": "CreateQRCodeFrom",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PriceMode']"
											},
											"sink": {
												"name": "PriceMode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Revision']"
											},
											"sink": {
												"name": "Revision",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['OriginalRefNo']"
											},
											"sink": {
												"name": "OriginalRefNo",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['OriginalRefDate']"
											},
											"sink": {
												"name": "OriginalRefDate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['GSTTransactionType']"
											},
											"sink": {
												"name": "GSTTransactionType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['OriginalCreditOrDebitNo']"
											},
											"sink": {
												"name": "OriginalCreditOrDebitNo",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['OriginalCreditOrDebitDate']"
											},
											"sink": {
												"name": "OriginalCreditOrDebitDate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ECommerceOperator']"
											},
											"sink": {
												"name": "ECommerceOperator",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ECommerceGSTIN']"
											},
											"sink": {
												"name": "ECommerceGSTIN",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ShipFrom']"
											},
											"sink": {
												"name": "ShipFrom",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['CommissionTrade']"
											},
											"sink": {
												"name": "CommissionTrade",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['CommissionTradeReturn']"
											},
											"sink": {
												"name": "CommissionTradeReturn",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['UseBillToAddrToDetermineTax']"
											},
											"sink": {
												"name": "UseBillToAddrToDetermineTax",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['IssuingReason']"
											},
											"sink": {
												"name": "IssuingReason",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Cig']"
											},
											"sink": {
												"name": "Cig",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['Cup']"
											},
											"sink": {
												"name": "Cup",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['EDocType']"
											},
											"sink": {
												"name": "EDocType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['FCEAsPaymentMeans']"
											},
											"sink": {
												"name": "FCEAsPaymentMeans",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PaidToDate']"
											},
											"sink": {
												"name": "PaidToDate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PaidToDateFC']"
											},
											"sink": {
												"name": "PaidToDateFC",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PaidToDateSys']"
											},
											"sink": {
												"name": "PaidToDateSys",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['BaseType']"
											},
											"sink": {
												"name": "BaseType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['BaseEntry']"
											},
											"sink": {
												"name": "BaseEntry",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['FatherCard']"
											},
											"sink": {
												"name": "FatherCard",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['FatherType']"
											},
											"sink": {
												"name": "FatherType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ShipState']"
											},
											"sink": {
												"name": "ShipState",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ShipPlace']"
											},
											"sink": {
												"name": "ShipPlace",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['CustOffice']"
											},
											"sink": {
												"name": "CustOffice",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['FCI']"
											},
											"sink": {
												"name": "FCI",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['AddLegIn']"
											},
											"sink": {
												"name": "AddLegIn",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['LegTextF']"
											},
											"sink": {
												"name": "LegTextF",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DANFELgTxt']"
											},
											"sink": {
												"name": "DANFELgTxt",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['IndFinal']"
											},
											"sink": {
												"name": "IndFinal",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DataVersion']"
											},
											"sink": {
												"name": "DataVersion",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['LastPageFolioNumber']"
											},
											"sink": {
												"name": "LastPageFolioNumber",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['U_AIG_KID']"
											},
											"sink": {
												"name": "U_AIG_KID",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['U_Ordrenummer']"
											},
											"sink": {
												"name": "U_Ordrenummer",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['U_esurl']"
											},
											"sink": {
												"name": "U_esurl",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['U_sluttkunde']"
											},
											"sink": {
												"name": "U_sluttkunde",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['U_Levbet']"
											},
											"sink": {
												"name": "U_Levbet",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['U_Sted']"
											},
											"sink": {
												"name": "U_Sted",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['U_Opperk']"
											},
											"sink": {
												"name": "U_Opperk",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['U_DSS_SendStatus']"
											},
											"sink": {
												"name": "U_DSS_SendStatus",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['U_DSS_EHFBuyersRef']"
											},
											"sink": {
												"name": "U_DSS_EHFBuyersRef",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['m_ds']"
											},
											"sink": {
												"name": "m_ds",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DocumentAdditionalExpenses'][0]['ExpenseCode']"
											},
											"sink": {
												"name": "AdditionalExpenses_ExpenseCode",
												"type": "Int16"
											}
										},
										{
											"source": {
												"path": "['DocumentAdditionalExpenses'][0]['LineTotal']"
											},
											"sink": {
												"name": "AdditionalExpenses_LineTotal",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['DocumentAdditionalExpenses'][0]['LineTotalFC']"
											},
											"sink": {
												"name": "AdditionalExpenses_LineTotalFC",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "['DocumentAdditionalExpenses'][0]['LineTotalSys']"
											},
											"sink": {
												"name": "AdditionalExpenses_LineTotalSys",
												"type": "Double"
											}
										}
									],
									"collectionReference": "$['value']"
								}
							},
							"inputs": [
								{
									"referenceName": "ds_blob_bondura",
									"type": "DatasetReference",
									"parameters": {
										"Directory": "Invoices",
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sql_bo_sap_invoices",
									"type": "DatasetReference",
									"parameters": {
										"tableName": "stg_invoices_mast"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}