Bondura-SAP/linkedTemplates/ArmTemplate_4.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Bondura-SAP"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/df_bo_invoices_doclines_lake')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_bo_json_test",
								"type": "DatasetReference"
							},
							"name": "ReadJsonFile"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable_test",
								"type": "DatasetReference"
							},
							"name": "SinkSQL"
						}
					],
					"transformations": [
						{
							"name": "Flatten"
						}
					],
					"scriptLines": [
						"source(output(",
						"          {@odata.context} as string,",
						"          value as ({@odata.etag} as string, DocEntry as integer, DocNum as integer, DocType as string, HandWritten as string, Printed as string, DocDate as string, DocDueDate as string, CardCode as string, CardName as string, Address as string, NumAtCard as string, DocTotal as double, AttachmentEntry as string, DocCurrency as string, DocRate as double, Reference1 as string, Reference2 as string, Comments as string, JournalMemo as string, PaymentGroupCode as integer, DocTime as string, SalesPersonCode as integer, TransportationCode as integer, Confirmed as string, ImportFileNum as string, SummeryType as string, ContactPersonCode as integer, ShowSCN as string, Series as integer, TaxDate as string, PartialSupply as string, DocObjectCode as string, ShipToCode as string, Indicator as string, FederalTaxID as string, DiscountPercent as double, PaymentReference as string, CreationDate as string, UpdateDate as string, FinancialPeriod as integer, UserSign as integer, TransNum as integer, VatSum as double, VatSumSys as double, VatSumFc as double, NetProcedure as string, DocTotalFc as double, DocTotalSys as double, Form1099 as string, Box1099 as string, RevisionPo as string, RequriedDate as string, CancelDate as string, BlockDunning as string, Submitted as string, Segment as integer, PickStatus as string, Pick as string, PaymentMethod as string, PaymentBlock as string, PaymentBlockEntry as string, CentralBankIndicator as string, MaximumCashDiscount as string, Reserve as string, Project as string, ExemptionValidityDateFrom as string, ExemptionValidityDateTo as string, WareHouseUpdateType as string, Rounding as string, ExternalCorrectedDocNum as string, InternalCorrectedDocNum as string, NextCorrectingDocument as string, DeferredTax as string, TaxExemptionLetterNum as string, WTApplied as double, WTAppliedFC as double, BillOfExchangeReserved as string, AgentCode as string, WTAppliedSC as double, TotalEqualizationTax as double, TotalEqualizationTaxFC as double, TotalEqualizationTaxSC as double, NumberOfInstallments as integer, ApplyTaxOnFirstInstallment as string, WTNonSubjectAmount as double, WTNonSubjectAmountSC as double, WTNonSubjectAmountFC as double, WTExemptedAmount as double, WTExemptedAmountSC as double, WTExemptedAmountFC as double, BaseAmount as double, BaseAmountSC as double, BaseAmountFC as double, WTAmount as double, WTAmountSC as double, WTAmountFC as double, VatDate as string, DocumentsOwner as integer, FolioPrefixString as string, FolioNumber as string, DocumentSubType as string, BPChannelCode as string, BPChannelContact as string, Address2 as string, DocumentStatus as string, PeriodIndicator as string, PayToCode as string, ManualNumber as string, UseShpdGoodsAct as string, IsPayToBank as string, PayToBankCountry as string, PayToBankCode as string, PayToBankAccountNo as string, PayToBankBranch as string, BPL_IDAssignedToInvoice as string, DownPayment as double, ReserveInvoice as string, LanguageCode as integer, TrackingNumber as string, PickRemark as string, ClosingDate as string, SequenceCode as string, SequenceSerial as string, SeriesString as string, SubSeriesString as string, SequenceModel as string, UseCorrectionVATGroup as string, TotalDiscount as double, DownPaymentAmount as double, DownPaymentPercentage as double, DownPaymentType as string, DownPaymentAmountSC as double, DownPaymentAmountFC as double, VatPercent as double, ServiceGrossProfitPercent as string, OpeningRemarks as string, ClosingRemarks as string, RoundingDiffAmount as double, RoundingDiffAmountFC as double, RoundingDiffAmountSC as double, Cancelled as string, SignatureInputMessage as string, SignatureDigest as string, CertificationNumber as string, PrivateKeyVersion as string, ControlAccount as string, InsuranceOperation347 as string, ArchiveNonremovableSalesQuotation as string, GTSChecker as string, GTSPayee as string, ExtraMonth as integer, ExtraDays as integer, CashDiscountDateOffset as integer, StartFrom as string, NTSApproved as string, ETaxWebSite as string, ETaxNumber as string, NTSApprovedNumber as string, EDocGenerationType as string, EDocSeries as string, EDocNum as string, EDocExportFormat as string, EDocStatus as string, EDocErrorCode as string, EDocErrorMessage as string, DownPaymentStatus as string, GroupSeries as string, GroupNumber as string, GroupHandWritten as string, ReopenOriginalDocument as string, ReopenManuallyClosedOrCanceledDocument as string, CreateOnlineQuotation as string, POSEquipmentNumber as string, POSManufacturerSerialNumber as string, POSCashierNumber as string, ApplyCurrentVATRatesForDownPaymentsToDraw as string, ClosingOption as string, SpecifiedClosingDate as string, OpenForLandedCosts as string, AuthorizationStatus as string, TotalDiscountFC as double, TotalDiscountSC as double, RelevantToGTS as string, BPLName as string, VATRegNum as string, AnnualInvoiceDeclarationReference as string, Supplier as string, Releaser as string, Receiver as string, BlanketAgreementNumber as string, IsAlteration as string, CancelStatus as string, AssetValueDate as string, InvoicePayment as string, DocumentDelivery as string, AuthorizationCode as string, StartDeliveryDate as string, StartDeliveryTime as string, EndDeliveryDate as string, EndDeliveryTime as string, VehiclePlate as string, ATDocumentType as string, ElecCommStatus as string, ElecCommMessage as string, ReuseDocumentNum as string, ReuseNotaFiscalNum as string, PrintSEPADirect as string, FiscalDocNum as string, POSDailySummaryNo as string, POSReceiptNo as string, PointOfIssueCode as string, Letter as string, FolioNumberFrom as string, FolioNumberTo as string, InterimType as string, RelatedType as integer, RelatedEntry as string, SAPPassport as string, DocumentTaxID as string, DateOfReportingControlStatementVAT as string, ReportingSectionControlStatementVAT as string, ExcludeFromTaxReportControlStatementVAT as string, POS_CashRegister as string, UpdateTime as string, CreateQRCodeFrom as string, PriceMode as string, Revision as string, OriginalRefNo as string, OriginalRefDate as string, GSTTransactionType as string, OriginalCreditOrDebitNo as string, OriginalCreditOrDebitDate as string, ECommerceOperator as string, ECommerceGSTIN as string, ShipFrom as string, CommissionTrade as string, CommissionTradeReturn as string, UseBillToAddrToDetermineTax as string, IssuingReason as integer, Cig as string, Cup as string, EDocType as string, FCEAsPaymentMeans as string, PaidToDate as double, PaidToDateFC as double, PaidToDateSys as double, BaseType as integer, BaseEntry as string, FatherCard as string, FatherType as string, ShipState as string, ShipPlace as string, CustOffice as string, FCI as string, AddLegIn as string, LegTextF as string, DANFELgTxt as string, IndFinal as string, DataVersion as integer, LastPageFolioNumber as string, U_AIG_KID as string, U_Ordrenummer as string, U_esurl as string, U_sluttkunde as string, U_Levbet as string, U_Sted as string, U_Opperk as string, U_DSS_SendStatus as integer, U_DSS_EHFBuyersRef as string, Document_ApprovalRequests as string[], DocumentLines as (LineNum as integer, ItemCode as string, ItemDescription as string, Quantity as double, ShipDate as string, Price as double, PriceAfterVAT as double, Currency as string, Rate as double, DiscountPercent as double, VendorNum as string, SerialNum as string, WarehouseCode as string, SalesPersonCode as integer, CommisionPercent as double, TreeType as string, AccountCode as string, UseBaseUnits as string, SupplierCatNum as string, CostingCode as string, ProjectCode as string, BarCode as string, VatGroup as string, Height1 as double, Hight1Unit as string, Height2 as double, Height2Unit as string, Lengh1 as double, Lengh1Unit as string, Lengh2 as double, Lengh2Unit as string, Weight1 as double, Weight1Unit as string, Weight2 as double, Weight2Unit as string, Factor1 as double, Factor2 as double, Factor3 as double, Factor4 as double, BaseType as integer, BaseEntry as integer, BaseLine as integer, Volume as double, VolumeUnit as integer, Width1 as double, Width1Unit as string, Width2 as double, Width2Unit as string, Address as string, TaxCode as string, TaxType as string, TaxLiable as string, PickStatus as string, PickQuantity as double, PickListIdNumber as string, OriginalItem as string, BackOrder as string, FreeText as string, ShippingMethod as integer, POTargetNum as string, POTargetEntry as string, POTargetRowNum as string, CorrectionInvoiceItem as string, CorrInvAmountToStock as double, CorrInvAmountToDiffAcct as double, AppliedTax as double, AppliedTaxFC as double, AppliedTaxSC as double, WTLiable as string, DeferredTax as string, EqualizationTaxPercent as double, TotalEqualizationTax as double, TotalEqualizationTaxFC as double, TotalEqualizationTaxSC as double, NetTaxAmount as double, NetTaxAmountFC as double, NetTaxAmountSC as double, MeasureUnit as string, UnitsOfMeasurment as double, LineTotal as double, TaxPercentagePerRow as double, TaxTotal as double, ConsumerSalesForecast as string, ExciseAmount as double, TaxPerUnit as double, TotalInclTax as double, CountryOrg as string, SWW as string, TransactionType as string, DistributeExpense as string, RowTotalFC as double, RowTotalSC as double, LastBuyInmPrice as double, LastBuyDistributeSumFc as double, LastBuyDistributeSumSc as double, LastBuyDistributeSum as double, StockDistributesumForeign as double, StockDistributesumSystem as double, StockDistributesum as double, StockInmPrice as double, PickStatusEx as string, TaxBeforeDPM as double, TaxBeforeDPMFC as double, TaxBeforeDPMSC as double, CFOPCode as string, CSTCode as string, Usage as string, TaxOnly as string, VisualOrder as integer, BaseOpenQuantity as double, UnitPrice as double, LineStatus as string, PackageQuantity as double, Text as string, LineType as string, COGSCostingCode as string, COGSAccountCode as string, ChangeAssemlyBoMWarehouse as string, GrossBuyPrice as double, GrossBase as integer, GrossProfitTotalBasePrice as double, CostingCode2 as string, CostingCode3 as string, CostingCode4 as string, CostingCode5 as string, ItemDetails as string, LocationCode as string, ActualDeliveryDate as string, RemainingOpenQuantity as double, OpenAmount as double, OpenAmountFC as double, OpenAmountSC as double, ExLineNo as string, RequiredDate as string, RequiredQuantity as string, COGSCostingCode2 as string, COGSCostingCode3 as string, COGSCostingCode4 as string, COGSCostingCode5 as string, CSTforIPI as string, CSTforPIS as string, CSTforCOFINS as string, CreditOriginCode as string, WithoutInventoryMovement as string, AgreementNo as string, AgreementRowNumber as string, ActualBaseEntry as string, ActualBaseLine as string, DocEntry as integer, Surpluses as string, DefectAndBreakup as string, Shortages as string, ConsiderQuantity as string, PartialRetirement as string, RetirementQuantity as string, RetirementAPC as string, ThirdParty as string, PoNum as string, PoItmNum as string, ExpenseType as string, ReceiptNumber as string, ExpenseOperationType as string, FederalTaxID as string, GrossProfit as double, GrossProfitFC as double, GrossProfitSC as double, PriceSource as string, StgSeqNum as string, StgEntry as string, StgDesc as string, UoMEntry as integer, UoMCode as string, InventoryQuantity as double, RemainingOpenInventoryQuantity as double, ParentLineNum as string, Incoterms as integer, TransportMode as integer, NatureOfTransaction as string, DestinationCountryForImport as string, DestinationRegionForImport as string, OriginCountryForExport as string, OriginRegionForExport as string, ItemType as string, ChangeInventoryQuantityIndependently as string, FreeOfChargeBP as string, SACEntry as string, HSNEntry as string, GrossPrice as double, GrossTotal as double, GrossTotalFC as double, GrossTotalSC as double, NCMCode as integer, NVECode as string, IndEscala as string, CtrSealQty as string, CNJPMan as string, CESTCode as string, UFFiscalBenefitCode as string, ReverseCharge as string, ShipToCode as string, ShipToDescription as string, ExternalCalcTaxRate as string, ExternalCalcTaxAmount as string, ExternalCalcTaxAmountFC as string, ExternalCalcTaxAmountSC as string, StandardItemIdentification as string, CommodityClassification as string, UnencumberedReason as string, CUSplit as string, U_Installasjon as string, U_ParentItem as string, U_Codebars as string, U_PlannedQty as double, U_AIG_IN as string, U_AIG_IA as string, U_AIG_PD as string, U_AIG_PDate as string, U_AIG_ID as string, U_PItemCode as string, U_AIG_IR as string, U_AIG_DDate as string, U_U_AIG_DDate as string, U_DSS_Charge as string, U_DSS_ProdOrdr as string, LineTaxJurisdictions as string[], ExportProcesses as string[], EBooksDetails as string[], DocumentLineAdditionalExpenses as string[], WithholdingTaxLines as string[], SerialNumbers as string[], BatchNumbers as string[], CCDNumbers as string[], DocumentLinesBinAllocations as string[])[], EWayBillDetails as ({} as string), ElectronicProtocols as string[], DocumentAdditionalExpenses as string[], WithholdingTaxDataWTXCollection as string[], WithholdingTaxDataCollection as string[], DocumentPackages as string[], DocumentSpecialLines as string[], DocumentInstallments as (DueDate as string, Percentage as double, Total as double, LastDunningDate as string, DunningLevel as integer, TotalFC as string, InstallmentId as integer, PaymentOrdered as string)[], DownPaymentsToDraw as string[], TaxExtension as ({} as string), AddressExtension as ({} as string), DocumentReferences as string[])[],",
						"          {@odata.nextLink} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     limit: 100,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'documentPerLine') ~> ReadJsonFile",
						"ReadJsonFile foldDown(unroll(value.DocumentLines, value),",
						"     mapColumn(",
						"          DocNum = value.DocNum,",
						"          DocDate = value.DocDate,",
						"          DocDueDate = value.DocDueDate,",
						"          CardCode = value.CardCode,",
						"          LineNum = value.DocumentLines.LineNum,",
						"          ItemCode = value.DocumentLines.ItemCode,",
						"          ItemDescription = value.DocumentLines.ItemDescription,",
						"          Quantity = value.DocumentLines.Quantity,",
						"          ShipDate = value.DocumentLines.ShipDate,",
						"          Price = value.DocumentLines.Price,",
						"          PriceAfterVAT = value.DocumentLines.PriceAfterVAT,",
						"          Currency = value.DocumentLines.Currency,",
						"          Rate = value.DocumentLines.Rate,",
						"          DiscountPercent = value.DocumentLines.DiscountPercent,",
						"          VendorNum = value.DocumentLines.VendorNum,",
						"          SerialNum = value.DocumentLines.SerialNum,",
						"          WarehouseCode = value.DocumentLines.WarehouseCode,",
						"          SalesPersonCode = value.DocumentLines.SalesPersonCode,",
						"          CommisionPercent = value.DocumentLines.CommisionPercent,",
						"          TreeType = value.DocumentLines.TreeType,",
						"          AccountCode = value.DocumentLines.AccountCode,",
						"          UseBaseUnits = value.DocumentLines.UseBaseUnits,",
						"          SupplierCatNum = value.DocumentLines.SupplierCatNum,",
						"          CostingCode = value.DocumentLines.CostingCode,",
						"          ProjectCode = value.DocumentLines.ProjectCode,",
						"          BarCode = value.DocumentLines.BarCode,",
						"          VatGroup = value.DocumentLines.VatGroup,",
						"          Height1 = value.DocumentLines.Height1,",
						"          Hight1Unit = value.DocumentLines.Hight1Unit,",
						"          Height2 = value.DocumentLines.Height2,",
						"          Height2Unit = value.DocumentLines.Height2Unit,",
						"          Lengh1 = value.DocumentLines.Lengh1,",
						"          Lengh1Unit = value.DocumentLines.Lengh1Unit,",
						"          Lengh2 = value.DocumentLines.Lengh2,",
						"          Lengh2Unit = value.DocumentLines.Lengh2Unit,",
						"          Weight1 = value.DocumentLines.Weight1,",
						"          Weight1Unit = value.DocumentLines.Weight1Unit,",
						"          Weight2 = value.DocumentLines.Weight2,",
						"          Weight2Unit = value.DocumentLines.Weight2Unit,",
						"          Factor1 = value.DocumentLines.Factor1,",
						"          Factor2 = value.DocumentLines.Factor2,",
						"          Factor3 = value.DocumentLines.Factor3,",
						"          Factor4 = value.DocumentLines.Factor4,",
						"          BaseType = value.DocumentLines.BaseType,",
						"          BaseEntry = value.DocumentLines.BaseEntry,",
						"          BaseLine = value.DocumentLines.BaseLine,",
						"          Volume = value.DocumentLines.Volume,",
						"          VolumeUnit = value.DocumentLines.VolumeUnit,",
						"          Width1 = value.DocumentLines.Width1,",
						"          Width1Unit = value.DocumentLines.Width1Unit,",
						"          Width2 = value.DocumentLines.Width2,",
						"          Width2Unit = value.DocumentLines.Width2Unit,",
						"          Address = value.DocumentLines.Address,",
						"          TaxCode = value.DocumentLines.TaxCode,",
						"          TaxType = value.DocumentLines.TaxType,",
						"          TaxLiable = value.DocumentLines.TaxLiable,",
						"          PickStatus = value.DocumentLines.PickStatus,",
						"          PickQuantity = value.DocumentLines.PickQuantity,",
						"          PickListIdNumber = value.DocumentLines.PickListIdNumber,",
						"          OriginalItem = value.DocumentLines.OriginalItem,",
						"          BackOrder = value.DocumentLines.BackOrder,",
						"          FreeText = value.DocumentLines.FreeText,",
						"          ShippingMethod = value.DocumentLines.ShippingMethod,",
						"          POTargetNum = value.DocumentLines.POTargetNum,",
						"          POTargetEntry = value.DocumentLines.POTargetEntry,",
						"          POTargetRowNum = value.DocumentLines.POTargetRowNum,",
						"          CorrectionInvoiceItem = value.DocumentLines.CorrectionInvoiceItem,",
						"          CorrInvAmountToStock = value.DocumentLines.CorrInvAmountToStock,",
						"          CorrInvAmountToDiffAcct = value.DocumentLines.CorrInvAmountToDiffAcct,",
						"          AppliedTax = value.DocumentLines.AppliedTax,",
						"          AppliedTaxFC = value.DocumentLines.AppliedTaxFC,",
						"          AppliedTaxSC = value.DocumentLines.AppliedTaxSC,",
						"          WTLiable = value.DocumentLines.WTLiable,",
						"          DeferredTax = value.DocumentLines.DeferredTax,",
						"          EqualizationTaxPercent = value.DocumentLines.EqualizationTaxPercent,",
						"          TotalEqualizationTax = value.DocumentLines.TotalEqualizationTax,",
						"          TotalEqualizationTaxFC = value.DocumentLines.TotalEqualizationTaxFC,",
						"          TotalEqualizationTaxSC = value.DocumentLines.TotalEqualizationTaxSC,",
						"          NetTaxAmount = value.DocumentLines.NetTaxAmount,",
						"          NetTaxAmountFC = value.DocumentLines.NetTaxAmountFC,",
						"          NetTaxAmountSC = value.DocumentLines.NetTaxAmountSC,",
						"          MeasureUnit = value.DocumentLines.MeasureUnit,",
						"          UnitsOfMeasurment = value.DocumentLines.UnitsOfMeasurment,",
						"          LineTotal = value.DocumentLines.LineTotal,",
						"          TaxPercentagePerRow = value.DocumentLines.TaxPercentagePerRow,",
						"          TaxTotal = value.DocumentLines.TaxTotal,",
						"          ConsumerSalesForecast = value.DocumentLines.ConsumerSalesForecast,",
						"          ExciseAmount = value.DocumentLines.ExciseAmount,",
						"          TaxPerUnit = value.DocumentLines.TaxPerUnit,",
						"          TotalInclTax = value.DocumentLines.TotalInclTax,",
						"          CountryOrg = value.DocumentLines.CountryOrg,",
						"          SWW = value.DocumentLines.SWW,",
						"          TransactionType = value.DocumentLines.TransactionType,",
						"          DistributeExpense = value.DocumentLines.DistributeExpense,",
						"          RowTotalFC = value.DocumentLines.RowTotalFC,",
						"          RowTotalSC = value.DocumentLines.RowTotalSC,",
						"          LastBuyInmPrice = value.DocumentLines.LastBuyInmPrice,",
						"          LastBuyDistributeSumFc = value.DocumentLines.LastBuyDistributeSumFc,",
						"          LastBuyDistributeSumSc = value.DocumentLines.LastBuyDistributeSumSc,",
						"          LastBuyDistributeSum = value.DocumentLines.LastBuyDistributeSum,",
						"          StockDistributesumForeign = value.DocumentLines.StockDistributesumForeign,",
						"          StockDistributesumSystem = value.DocumentLines.StockDistributesumSystem,",
						"          StockDistributesum = value.DocumentLines.StockDistributesum,",
						"          StockInmPrice = value.DocumentLines.StockInmPrice,",
						"          PickStatusEx = value.DocumentLines.PickStatusEx,",
						"          TaxBeforeDPM = value.DocumentLines.TaxBeforeDPM,",
						"          TaxBeforeDPMFC = value.DocumentLines.TaxBeforeDPMFC,",
						"          TaxBeforeDPMSC = value.DocumentLines.TaxBeforeDPMSC,",
						"          CFOPCode = value.DocumentLines.CFOPCode,",
						"          CSTCode = value.DocumentLines.CSTCode,",
						"          Usage = value.DocumentLines.Usage,",
						"          TaxOnly = value.DocumentLines.TaxOnly,",
						"          VisualOrder = value.DocumentLines.VisualOrder,",
						"          BaseOpenQuantity = value.DocumentLines.BaseOpenQuantity,",
						"          UnitPrice = value.DocumentLines.UnitPrice,",
						"          LineStatus = value.DocumentLines.LineStatus,",
						"          PackageQuantity = value.DocumentLines.PackageQuantity,",
						"          Text = value.DocumentLines.Text,",
						"          LineType = value.DocumentLines.LineType,",
						"          COGSCostingCode = value.DocumentLines.COGSCostingCode,",
						"          COGSAccountCode = value.DocumentLines.COGSAccountCode,",
						"          ChangeAssemlyBoMWarehouse = value.DocumentLines.ChangeAssemlyBoMWarehouse,",
						"          GrossBuyPrice = value.DocumentLines.GrossBuyPrice,",
						"          GrossBase = value.DocumentLines.GrossBase,",
						"          GrossProfitTotalBasePrice = value.DocumentLines.GrossProfitTotalBasePrice,",
						"          CostingCode2 = value.DocumentLines.CostingCode2,",
						"          CostingCode3 = value.DocumentLines.CostingCode3,",
						"          CostingCode4 = value.DocumentLines.CostingCode4,",
						"          CostingCode5 = value.DocumentLines.CostingCode5,",
						"          ItemDetails = value.DocumentLines.ItemDetails,",
						"          LocationCode = value.DocumentLines.LocationCode,",
						"          ActualDeliveryDate = value.DocumentLines.ActualDeliveryDate,",
						"          RemainingOpenQuantity = value.DocumentLines.RemainingOpenQuantity,",
						"          OpenAmount = value.DocumentLines.OpenAmount,",
						"          OpenAmountFC = value.DocumentLines.OpenAmountFC,",
						"          OpenAmountSC = value.DocumentLines.OpenAmountSC,",
						"          ExLineNo = value.DocumentLines.ExLineNo,",
						"          RequiredDate = value.DocumentLines.RequiredDate,",
						"          RequiredQuantity = value.DocumentLines.RequiredQuantity,",
						"          COGSCostingCode2 = value.DocumentLines.COGSCostingCode2,",
						"          COGSCostingCode3 = value.DocumentLines.COGSCostingCode3,",
						"          COGSCostingCode4 = value.DocumentLines.COGSCostingCode4,",
						"          COGSCostingCode5 = value.DocumentLines.COGSCostingCode5,",
						"          CSTforIPI = value.DocumentLines.CSTforIPI,",
						"          CSTforPIS = value.DocumentLines.CSTforPIS,",
						"          CSTforCOFINS = value.DocumentLines.CSTforCOFINS,",
						"          CreditOriginCode = value.DocumentLines.CreditOriginCode,",
						"          WithoutInventoryMovement = value.DocumentLines.WithoutInventoryMovement,",
						"          AgreementNo = value.DocumentLines.AgreementNo,",
						"          AgreementRowNumber = value.DocumentLines.AgreementRowNumber,",
						"          ActualBaseEntry = value.DocumentLines.ActualBaseEntry,",
						"          ActualBaseLine = value.DocumentLines.ActualBaseLine,",
						"          DocEntry = value.DocumentLines.DocEntry,",
						"          Surpluses = value.DocumentLines.Surpluses,",
						"          DefectAndBreakup = value.DocumentLines.DefectAndBreakup,",
						"          Shortages = value.DocumentLines.Shortages,",
						"          ConsiderQuantity = value.DocumentLines.ConsiderQuantity,",
						"          PartialRetirement = value.DocumentLines.PartialRetirement,",
						"          RetirementQuantity = value.DocumentLines.RetirementQuantity,",
						"          RetirementAPC = value.DocumentLines.RetirementAPC,",
						"          ThirdParty = value.DocumentLines.ThirdParty,",
						"          PoNum = value.DocumentLines.PoNum,",
						"          PoItmNum = value.DocumentLines.PoItmNum,",
						"          ExpenseType = value.DocumentLines.ExpenseType,",
						"          ReceiptNumber = value.DocumentLines.ReceiptNumber,",
						"          ExpenseOperationType = value.DocumentLines.ExpenseOperationType,",
						"          FederalTaxID = value.DocumentLines.FederalTaxID,",
						"          GrossProfit = value.DocumentLines.GrossProfit,",
						"          GrossProfitFC = value.DocumentLines.GrossProfitFC,",
						"          GrossProfitSC = value.DocumentLines.GrossProfitSC,",
						"          PriceSource = value.DocumentLines.PriceSource,",
						"          StgSeqNum = value.DocumentLines.StgSeqNum,",
						"          StgEntry = value.DocumentLines.StgEntry,",
						"          StgDesc = value.DocumentLines.StgDesc,",
						"          UoMEntry = value.DocumentLines.UoMEntry,",
						"          UoMCode = value.DocumentLines.UoMCode,",
						"          InventoryQuantity = value.DocumentLines.InventoryQuantity,",
						"          RemainingOpenInventoryQuantity = value.DocumentLines.RemainingOpenInventoryQuantity,",
						"          ParentLineNum = value.DocumentLines.ParentLineNum,",
						"          Incoterms = value.DocumentLines.Incoterms,",
						"          TransportMode = value.DocumentLines.TransportMode,",
						"          NatureOfTransaction = value.DocumentLines.NatureOfTransaction,",
						"          DestinationCountryForImport = value.DocumentLines.DestinationCountryForImport,",
						"          DestinationRegionForImport = value.DocumentLines.DestinationRegionForImport,",
						"          OriginCountryForExport = value.DocumentLines.OriginCountryForExport,",
						"          OriginRegionForExport = value.DocumentLines.OriginRegionForExport,",
						"          ItemType = value.DocumentLines.ItemType,",
						"          ChangeInventoryQuantityIndependently = value.DocumentLines.ChangeInventoryQuantityIndependently,",
						"          FreeOfChargeBP = value.DocumentLines.FreeOfChargeBP,",
						"          SACEntry = value.DocumentLines.SACEntry,",
						"          HSNEntry = value.DocumentLines.HSNEntry,",
						"          GrossPrice = value.DocumentLines.GrossPrice,",
						"          GrossTotal = value.DocumentLines.GrossTotal,",
						"          GrossTotalFC = value.DocumentLines.GrossTotalFC,",
						"          GrossTotalSC = value.DocumentLines.GrossTotalSC,",
						"          NCMCode = value.DocumentLines.NCMCode,",
						"          NVECode = value.DocumentLines.NVECode,",
						"          IndEscala = value.DocumentLines.IndEscala,",
						"          CtrSealQty = value.DocumentLines.CtrSealQty,",
						"          CNJPMan = value.DocumentLines.CNJPMan,",
						"          CESTCode = value.DocumentLines.CESTCode,",
						"          UFFiscalBenefitCode = value.DocumentLines.UFFiscalBenefitCode,",
						"          ReverseCharge = value.DocumentLines.ReverseCharge,",
						"          ShipToCode = value.DocumentLines.ShipToCode,",
						"          ShipToDescription = value.DocumentLines.ShipToDescription,",
						"          ExternalCalcTaxRate = value.DocumentLines.ExternalCalcTaxRate,",
						"          ExternalCalcTaxAmount = value.DocumentLines.ExternalCalcTaxAmount,",
						"          ExternalCalcTaxAmountFC = value.DocumentLines.ExternalCalcTaxAmountFC,",
						"          ExternalCalcTaxAmountSC = value.DocumentLines.ExternalCalcTaxAmountSC,",
						"          StandardItemIdentification = value.DocumentLines.StandardItemIdentification,",
						"          CommodityClassification = value.DocumentLines.CommodityClassification,",
						"          UnencumberedReason = value.DocumentLines.UnencumberedReason,",
						"          CUSplit = value.DocumentLines.CUSplit,",
						"          U_Installasjon = value.DocumentLines.U_Installasjon,",
						"          U_ParentItem = value.DocumentLines.U_ParentItem,",
						"          U_Codebars = value.DocumentLines.U_Codebars,",
						"          U_PlannedQty = value.DocumentLines.U_PlannedQty,",
						"          U_AIG_IN = value.DocumentLines.U_AIG_IN,",
						"          U_AIG_IA = value.DocumentLines.U_AIG_IA,",
						"          U_AIG_PD = value.DocumentLines.U_AIG_PD,",
						"          U_AIG_PDate = value.DocumentLines.U_AIG_PDate,",
						"          U_AIG_ID = value.DocumentLines.U_AIG_ID,",
						"          U_PItemCode = value.DocumentLines.U_PItemCode,",
						"          U_AIG_IR = value.DocumentLines.U_AIG_IR,",
						"          U_AIG_DDate = value.DocumentLines.U_AIG_DDate,",
						"          U_U_AIG_DDate = value.DocumentLines.U_U_AIG_DDate,",
						"          U_DSS_Charge = value.DocumentLines.U_DSS_Charge,",
						"          U_DSS_ProdOrdr = value.DocumentLines.U_DSS_ProdOrdr",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> Flatten",
						"Flatten sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     recreate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> SinkSQL"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_bo_orders')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_bo_sap_orders",
								"type": "DatasetReference"
							},
							"name": "ApiCall"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "sql_bo_sap_orders",
								"type": "DatasetReference"
							},
							"name": "SinkToSQLTable"
						}
					],
					"transformations": [
						{
							"name": "FlattenOrders"
						},
						{
							"name": "dataSourceId"
						}
					],
					"scriptLines": [
						"source(output(",
						"          body as ({@odata.context} as string, {@odata.nextLink} as string, value as ({@odata.etag} as string, ATDocumentType as string, AddLegIn as string, Address as string, Address2 as string, AgentCode as string, AnnualInvoiceDeclarationReference as string, ApplyCurrentVATRatesForDownPaymentsToDraw as string, ApplyTaxOnFirstInstallment as string, ArchiveNonremovableSalesQuotation as string, AssetValueDate as string, AttachmentEntry as string, AuthorizationCode as string, AuthorizationStatus as string, BPChannelCode as string, BPChannelContact as string, BPLName as string, BPL_IDAssignedToInvoice as string, BaseAmount as double, BaseAmountFC as double, BaseAmountSC as double, BillOfExchangeReserved as string, BlanketAgreementNumber as string, BlockDunning as string, Box1099 as string, CancelDate as date, CancelStatus as string, Cancelled as string, CardCode as integer, CardName as string, CashDiscountDateOffset as boolean, CentralBankIndicator as string, CertificationNumber as string, Cig as string, ClosingDate as string, ClosingOption as string, ClosingRemarks as string, Comments as string, CommissionTrade as string, CommissionTradeReturn as string, Confirmed as string, ContactPersonCode as short, ControlAccount as short, CreateOnlineQuotation as string, CreateQRCodeFrom as string, CreationDate as date, Cup as string, CustOffice as string, DANFELgTxt as string, DataVersion as boolean, DateOfReportingControlStatementVAT as string, DeferredTax as string, DiscountPercent as double, DocCurrency as string, DocDate as date, DocDueDate as date, DocEntry as short, DocNum as integer, DocObjectCode as string, DocRate as double, DocTime as string, DocTotal as double, DocTotalFc as double, DocTotalSys as double, DocType as string, DocumentAdditionalExpenses as string[], DocumentDelivery as string, DocumentLines as (AccountCode as short, ActualBaseEntry as string, ActualBaseLine as string, ActualDeliveryDate as string, Address as string, AgreementNo as string, AgreementRowNumber as string, AppliedTax as double, AppliedTaxFC as double, AppliedTaxSC as double, BackOrder as string, BarCode as string, BaseEntry as string, BaseLine as string, BaseOpenQuantity as double, BaseType as short, BatchNumbers as string[], CESTCode as string, CFOPCode as string, CNJPMan as string, COGSAccountCode as short, COGSCostingCode as string, COGSCostingCode2 as string, COGSCostingCode3 as string, COGSCostingCode4 as string, COGSCostingCode5 as string, CSTCode as string, CSTforCOFINS as string, CSTforIPI as string, CSTforPIS as string, CUSplit as string, ChangeAssemlyBoMWarehouse as boolean, ChangeInventoryQuantityIndependently as string, CommisionPercent as double, CommodityClassification as string, ConsiderQuantity as string, ConsumerSalesForecast as string, CorrInvAmountToDiffAcct as double, CorrInvAmountToStock as double, CorrectionInvoiceItem as string, CostingCode as string, CostingCode2 as string, CostingCode3 as string, CostingCode4 as string, CostingCode5 as string, CountryOrg as string, CreditOriginCode as string, CtrSealQty as string, Currency as string, DefectAndBreakup as string, DeferredTax as string, DestinationCountryForImport as string, DestinationRegionForImport as string, DiscountPercent as double, DistributeExpense as string, DocEntry as short, DocumentLineAdditionalExpenses as string[], DocumentLinesBinAllocations as string[], EqualizationTaxPercent as double, ExLineNo as string, ExciseAmount as double, ExpenseOperationType as string, ExpenseType as string, ExternalCalcTaxAmount as string, ExternalCalcTaxAmountFC as string, ExternalCalcTaxAmountSC as string, ExternalCalcTaxRate as string, Factor1 as double, Factor2 as double, Factor3 as double, Factor4 as double, FederalTaxID as string, FreeOfChargeBP as string, FreeText as string, GrossBase as short, GrossBuyPrice as double, GrossPrice as double, GrossProfit as double, GrossProfitFC as double, GrossProfitSC as double, GrossProfitTotalBasePrice as double, GrossTotal as double, GrossTotalFC as double, GrossTotalSC as double, HSNEntry as string, Height1 as double, Height2 as double, Height2Unit as string, Hight1Unit as string, Incoterms as boolean, IndEscala as string, InventoryQuantity as double, ItemCode as integer, ItemDescription as string, ItemDetails as string, ItemType as string, LastBuyDistributeSum as double, LastBuyDistributeSumFc as double, LastBuyDistributeSumSc as double, LastBuyInmPrice as double, Lengh1 as double, Lengh1Unit as string, Lengh2 as double, Lengh2Unit as string, LineNum as short, LineStatus as string, LineTaxJurisdictions as string[], LineTotal as double, LineType as string, LocationCode as string, MeasureUnit as string, NCMCode as short, NVECode as string, NatureOfTransaction as string, NetTaxAmount as double, NetTaxAmountFC as double, NetTaxAmountSC as double, OpenAmount as double, OpenAmountFC as double, OpenAmountSC as double, OriginCountryForExport as string, OriginRegionForExport as string, OriginalItem as integer, OwnerCode as short, POTargetEntry as string, POTargetNum as string, POTargetRowNum as string, PackageQuantity as double, ParentLineNum as string, PartialRetirement as string, PickListIdNumber as string, PickQuantity as double, PickStatus as string, PickStatusEx as string, PoItmNum as string, PoNum as string, Price as double, PriceAfterVAT as double, PriceSource as string, ProjectCode as string, Quantity as double, Rate as double, ReceiptNumber as string, RemainingOpenInventoryQuantity as double, RemainingOpenQuantity as double, RequiredDate as string, RequiredQuantity as string, RetirementAPC as string, RetirementQuantity as string, ReverseCharge as string, RowTotalFC as double, RowTotalSC as double, SACEntry as string, SWW as string, SalesPersonCode as short, SerialNum as string, SerialNumbers as string[], ShipDate as date, ShipToCode as string, ShipToDescription as string, ShippingMethod as short, Shortages as string, StandardItemIdentification as string, StgDesc as string, StgEntry as string, StgSeqNum as string, StockDistributesum as double, StockDistributesumForeign as double, StockDistributesumSystem as double, StockInmPrice as double, SupplierCatNum as string, Surpluses as string, TaxBeforeDPM as double, TaxBeforeDPMFC as double, TaxBeforeDPMSC as double, TaxCode as string, TaxLiable as string, TaxOnly as string, TaxPerUnit as double, TaxPercentagePerRow as double, TaxTotal as double, TaxType as string, Text as string, ThirdParty as string, TotalEqualizationTax as double, TotalEqualizationTaxFC as double, TotalEqualizationTaxSC as double, TotalInclTax as double, TransactionType as string, TransportMode as boolean, TreeType as string, UFFiscalBenefitCode as string, U_AIG_DDate as string, U_AIG_IA as double, U_AIG_ID as string, U_AIG_IN as string, U_AIG_IR as string, U_AIG_PD as string, U_AIG_PDate as string, U_Codebars as string, U_DSS_Charge as string, U_DSS_ProdOrdr as string, U_Installasjon as string, U_PItemCode as string, U_ParentItem as string, U_PlannedQty as double, U_U_AIG_DDate as string, UnencumberedReason as string, UnitPrice as double, UnitsOfMeasurment as double, UoMCode as string, UoMEntry as short, Usage as string, UseBaseUnits as string, VatGroup as string, VendorNum as string, VisualOrder as short, Volume as double, VolumeUnit as short, WTLiable as string, WarehouseCode as short, Weight1 as double, Weight1Unit as short, Weight2 as double, Weight2Unit as string, Width1 as double, Width1Unit as string, Width2 as double, Width2Unit as string, WithholdingTaxLines as string[], WithoutInventoryMovement as string)[], DocumentReferences as string[], DocumentSpecialLines as string[], DocumentStatus as string, DocumentSubType as string, DocumentTaxID as string, Document_ApprovalRequests as string[], DocumentsOwner as short, DownPayment as double, DownPaymentAmount as double, DownPaymentAmountFC as double, DownPaymentAmountSC as double, DownPaymentPercentage as double, DownPaymentStatus as string, DownPaymentType as string, EDocErrorCode as string, EDocErrorMessage as string, EDocExportFormat as string, EDocGenerationType as string, EDocNum as string, EDocSeries as string, EDocStatus as string, ETaxNumber as string, ETaxWebSite as string, ElecCommMessage as string, ElecCommStatus as string, ElectronicProtocols as string[], EndDeliveryDate as string, EndDeliveryTime as string, ExcludeFromTaxReportControlStatementVAT as string, ExemptionValidityDateFrom as string, ExemptionValidityDateTo as string, ExternalCorrectedDocNum as string, ExtraDays as short, ExtraMonth as boolean, FCI as string, FatherCard as string, FatherType as string, FederalTaxID as string, FinancialPeriod as short, FiscalDocNum as string, FolioNumber as string, FolioNumberFrom as string, FolioNumberTo as string, FolioPrefixString as string, Form1099 as string, GTSChecker as string, GTSPayee as string, GroupHandWritten as string, GroupNumber as string, GroupSeries as string, HandWritten as string, ImportFileNum as string, IndFinal as string, Indicator as string, InsuranceOperation347 as string, InterimType as string, InternalCorrectedDocNum as string, IsAlteration as string, IsPayToBank as string, JournalMemo as string, LanguageCode as short, LastPageFolioNumber as string, LegTextF as string, Letter as string, ManualNumber as string, MaximumCashDiscount as string, NTSApproved as string, NTSApprovedNumber as string, NetProcedure as string, NextCorrectingDocument as string, NumAtCard as string, NumberOfInstallments as boolean, OpenForLandedCosts as string, OpeningRemarks as string, POSCashierNumber as string, POSDailySummaryNo as string, POSEquipmentNumber as string, POSManufacturerSerialNumber as string, POSReceiptNo as string, POS_CashRegister as string, PartialSupply as string, PayToBankAccountNo as string, PayToBankBranch as string, PayToBankCode as string, PayToBankCountry as string, PayToCode as string, PaymentBlock as string, PaymentBlockEntry as string, PaymentGroupCode as boolean, PaymentMethod as string, PaymentReference as long, PeriodIndicator as string, Pick as string, PickRemark as string, PickStatus as string, PointOfIssueCode as string, PriceMode as string, PrintSEPADirect as string, Printed as string, PrivateKeyVersion as string, Project as string, Receiver as string, Reference1 as integer, Reference2 as string, RelatedEntry as string, RelatedType as short, Releaser as string, RelevantToGTS as string, ReopenManuallyClosedOrCanceledDocument as string, ReopenOriginalDocument as string, ReportingSectionControlStatementVAT as string, RequriedDate as date, Reserve as string, ReserveInvoice as string, ReuseDocumentNum as string, ReuseNotaFiscalNum as string, RevisionPo as string, Rounding as string, RoundingDiffAmount as double, RoundingDiffAmountFC as double, RoundingDiffAmountSC as double, SAPPassport as string, SalesPersonCode as short, Segment as boolean, SequenceCode as string, SequenceModel as boolean, SequenceSerial as string, Series as short, SeriesString as string, ServiceGrossProfitPercent as string, ShipFrom as string, ShipPlace as string, ShipState as string, ShipToCode as string, ShowSCN as string, SignatureDigest as string, SignatureInputMessage as string, SpecifiedClosingDate as string, StartDeliveryDate as string, StartDeliveryTime as string, StartFrom as string, SubSeriesString as string, Submitted as string, SummeryType as string, Supplier as string, TaxDate as date, TaxExemptionLetterNum as string, TotalDiscount as double, TotalDiscountFC as double, TotalDiscountSC as double, TotalEqualizationTax as double, TotalEqualizationTaxFC as double, TotalEqualizationTaxSC as double, TrackingNumber as string, TransNum as string, TransportationCode as short, U_AIG_KID as string, U_DSS_EHFBuyersRef as string, U_DSS_SendStatus as boolean, U_Levbet as string, U_Opperk as string, U_Ordrenummer as short, U_Sted as string, U_esurl as string, U_sluttkunde as string, UpdateDate as date, UpdateTime as string, UseBillToAddrToDetermineTax as string, UseCorrectionVATGroup as string, UseShpdGoodsAct as string, UserSign as short, VATRegNum as string, VatDate as string, VatPercent as double, VatSum as double, VatSumFc as double, VatSumSys as double, VehiclePlate as string, WTAmount as double, WTAmountFC as double, WTAmountSC as double, WTApplied as double, WTAppliedFC as double, WTAppliedSC as double, WTExemptedAmount as double, WTExemptedAmountFC as double, WTExemptedAmountSC as double, WTNonSubjectAmount as double, WTNonSubjectAmountFC as double, WTNonSubjectAmountSC as double, WareHouseUpdateType as string, WithholdingTaxDataCollection as string[], WithholdingTaxDataWTXCollection as string[])[]),",
						"          headers as [string,string]",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     httpMethod: 'GET',",
						"     timeout: 30,",
						"     requestInterval: 0,",
						"     responseFormat: ['type' -> 'json', 'documentForm' -> 'arrayOfDocuments']) ~> ApiCall",
						"ApiCall foldDown(unroll(body.value),",
						"     mapColumn(",
						"          ATDocumentType = body.value.ATDocumentType,",
						"          AddLegIn = body.value.AddLegIn,",
						"          Address = body.value.Address,",
						"          Address2 = body.value.Address2,",
						"          AgentCode = body.value.AgentCode,",
						"          AnnualInvoiceDeclarationReference = body.value.AnnualInvoiceDeclarationReference,",
						"          ApplyCurrentVATRatesForDownPaymentsToDraw = body.value.ApplyCurrentVATRatesForDownPaymentsToDraw,",
						"          ApplyTaxOnFirstInstallment = body.value.ApplyTaxOnFirstInstallment,",
						"          ArchiveNonremovableSalesQuotation = body.value.ArchiveNonremovableSalesQuotation,",
						"          AssetValueDate = body.value.AssetValueDate,",
						"          AttachmentEntry = body.value.AttachmentEntry,",
						"          AuthorizationCode = body.value.AuthorizationCode,",
						"          AuthorizationStatus = body.value.AuthorizationStatus,",
						"          BPChannelCode = body.value.BPChannelCode,",
						"          BPChannelContact = body.value.BPChannelContact,",
						"          BPLName = body.value.BPLName,",
						"          BPL_IDAssignedToInvoice = body.value.BPL_IDAssignedToInvoice,",
						"          BaseAmount = body.value.BaseAmount,",
						"          BaseAmountFC = body.value.BaseAmountFC,",
						"          BaseAmountSC = body.value.BaseAmountSC,",
						"          BillOfExchangeReserved = body.value.BillOfExchangeReserved,",
						"          BlanketAgreementNumber = body.value.BlanketAgreementNumber,",
						"          BlockDunning = body.value.BlockDunning,",
						"          Box1099 = body.value.Box1099,",
						"          CancelDate = body.value.CancelDate,",
						"          CancelStatus = body.value.CancelStatus,",
						"          Cancelled = body.value.Cancelled,",
						"          CardCode = body.value.CardCode,",
						"          CardName = body.value.CardName,",
						"          CashDiscountDateOffset = body.value.CashDiscountDateOffset,",
						"          CentralBankIndicator = body.value.CentralBankIndicator,",
						"          CertificationNumber = body.value.CertificationNumber,",
						"          Cig = body.value.Cig,",
						"          ClosingDate = body.value.ClosingDate,",
						"          ClosingOption = body.value.ClosingOption,",
						"          ClosingRemarks = body.value.ClosingRemarks,",
						"          Comments = body.value.Comments,",
						"          CommissionTrade = body.value.CommissionTrade,",
						"          CommissionTradeReturn = body.value.CommissionTradeReturn,",
						"          Confirmed = body.value.Confirmed,",
						"          ContactPersonCode = body.value.ContactPersonCode,",
						"          ControlAccount = body.value.ControlAccount,",
						"          CreateOnlineQuotation = body.value.CreateOnlineQuotation,",
						"          CreateQRCodeFrom = body.value.CreateQRCodeFrom,",
						"          CreationDate = body.value.CreationDate,",
						"          Cup = body.value.Cup,",
						"          CustOffice = body.value.CustOffice,",
						"          DANFELgTxt = body.value.DANFELgTxt,",
						"          DataVersion = body.value.DataVersion,",
						"          DateOfReportingControlStatementVAT = body.value.DateOfReportingControlStatementVAT,",
						"          DeferredTax = body.value.DeferredTax,",
						"          DiscountPercent = body.value.DiscountPercent,",
						"          DocCurrency = body.value.DocCurrency,",
						"          DocDate = body.value.DocDate,",
						"          DocDueDate = body.value.DocDueDate,",
						"          DocEntry = body.value.DocEntry,",
						"          DocNum = body.value.DocNum,",
						"          DocObjectCode = body.value.DocObjectCode,",
						"          DocRate = body.value.DocRate,",
						"          DocTime = body.value.DocTime,",
						"          DocTotal = body.value.DocTotal,",
						"          DocTotalFc = body.value.DocTotalFc,",
						"          DocTotalSys = body.value.DocTotalSys,",
						"          DocType = body.value.DocType,",
						"          DocumentDelivery = body.value.DocumentDelivery,",
						"          DocumentStatus = body.value.DocumentStatus,",
						"          DocumentSubType = body.value.DocumentSubType,",
						"          DocumentTaxID = body.value.DocumentTaxID,",
						"          DocumentsOwner = body.value.DocumentsOwner,",
						"          DownPayment = body.value.DownPayment,",
						"          DownPaymentAmount = body.value.DownPaymentAmount,",
						"          DownPaymentAmountFC = body.value.DownPaymentAmountFC,",
						"          DownPaymentAmountSC = body.value.DownPaymentAmountSC,",
						"          DownPaymentPercentage = body.value.DownPaymentPercentage,",
						"          DownPaymentStatus = body.value.DownPaymentStatus,",
						"          DownPaymentType = body.value.DownPaymentType,",
						"          EDocErrorCode = body.value.EDocErrorCode,",
						"          EDocErrorMessage = body.value.EDocErrorMessage,",
						"          EDocExportFormat = body.value.EDocExportFormat,",
						"          EDocGenerationType = body.value.EDocGenerationType,",
						"          EDocNum = body.value.EDocNum,",
						"          EDocSeries = body.value.EDocSeries,",
						"          EDocStatus = body.value.EDocStatus,",
						"          ETaxNumber = body.value.ETaxNumber,",
						"          ETaxWebSite = body.value.ETaxWebSite,",
						"          ElecCommMessage = body.value.ElecCommMessage,",
						"          ElecCommStatus = body.value.ElecCommStatus,",
						"          EndDeliveryDate = body.value.EndDeliveryDate,",
						"          EndDeliveryTime = body.value.EndDeliveryTime,",
						"          ExcludeFromTaxReportControlStatementVAT = body.value.ExcludeFromTaxReportControlStatementVAT,",
						"          ExemptionValidityDateFrom = body.value.ExemptionValidityDateFrom,",
						"          ExemptionValidityDateTo = body.value.ExemptionValidityDateTo,",
						"          ExternalCorrectedDocNum = body.value.ExternalCorrectedDocNum,",
						"          ExtraDays = body.value.ExtraDays,",
						"          ExtraMonth = body.value.ExtraMonth,",
						"          FCI = body.value.FCI,",
						"          FatherCard = body.value.FatherCard,",
						"          FatherType = body.value.FatherType,",
						"          FederalTaxID = body.value.FederalTaxID,",
						"          FinancialPeriod = body.value.FinancialPeriod,",
						"          FiscalDocNum = body.value.FiscalDocNum,",
						"          FolioNumber = body.value.FolioNumber,",
						"          FolioNumberFrom = body.value.FolioNumberFrom,",
						"          FolioNumberTo = body.value.FolioNumberTo,",
						"          FolioPrefixString = body.value.FolioPrefixString,",
						"          Form1099 = body.value.Form1099,",
						"          GTSChecker = body.value.GTSChecker,",
						"          GTSPayee = body.value.GTSPayee,",
						"          GroupHandWritten = body.value.GroupHandWritten,",
						"          GroupNumber = body.value.GroupNumber,",
						"          GroupSeries = body.value.GroupSeries,",
						"          HandWritten = body.value.HandWritten,",
						"          ImportFileNum = body.value.ImportFileNum,",
						"          IndFinal = body.value.IndFinal,",
						"          Indicator = body.value.Indicator,",
						"          InsuranceOperation347 = body.value.InsuranceOperation347,",
						"          InterimType = body.value.InterimType,",
						"          InternalCorrectedDocNum = body.value.InternalCorrectedDocNum,",
						"          IsAlteration = body.value.IsAlteration,",
						"          IsPayToBank = body.value.IsPayToBank,",
						"          JournalMemo = body.value.JournalMemo,",
						"          LanguageCode = body.value.LanguageCode,",
						"          LastPageFolioNumber = body.value.LastPageFolioNumber,",
						"          LegTextF = body.value.LegTextF,",
						"          Letter = body.value.Letter,",
						"          ManualNumber = body.value.ManualNumber,",
						"          MaximumCashDiscount = body.value.MaximumCashDiscount,",
						"          NTSApproved = body.value.NTSApproved,",
						"          NTSApprovedNumber = body.value.NTSApprovedNumber,",
						"          NetProcedure = body.value.NetProcedure,",
						"          NextCorrectingDocument = body.value.NextCorrectingDocument,",
						"          NumAtCard = body.value.NumAtCard,",
						"          NumberOfInstallments = body.value.NumberOfInstallments,",
						"          OpenForLandedCosts = body.value.OpenForLandedCosts,",
						"          OpeningRemarks = body.value.OpeningRemarks,",
						"          POSCashierNumber = body.value.POSCashierNumber,",
						"          POSDailySummaryNo = body.value.POSDailySummaryNo,",
						"          POSEquipmentNumber = body.value.POSEquipmentNumber,",
						"          POSManufacturerSerialNumber = body.value.POSManufacturerSerialNumber,",
						"          POSReceiptNo = body.value.POSReceiptNo,",
						"          POS_CashRegister = body.value.POS_CashRegister,",
						"          PartialSupply = body.value.PartialSupply,",
						"          PayToBankAccountNo = body.value.PayToBankAccountNo,",
						"          PayToBankBranch = body.value.PayToBankBranch,",
						"          PayToBankCode = body.value.PayToBankCode,",
						"          PayToBankCountry = body.value.PayToBankCountry,",
						"          PayToCode = body.value.PayToCode,",
						"          PaymentBlock = body.value.PaymentBlock,",
						"          PaymentBlockEntry = body.value.PaymentBlockEntry,",
						"          PaymentGroupCode = body.value.PaymentGroupCode,",
						"          PaymentMethod = body.value.PaymentMethod,",
						"          PaymentReference = body.value.PaymentReference,",
						"          PeriodIndicator = body.value.PeriodIndicator,",
						"          Pick = body.value.Pick,",
						"          PickRemark = body.value.PickRemark,",
						"          PickStatus = body.value.PickStatus,",
						"          PointOfIssueCode = body.value.PointOfIssueCode,",
						"          PriceMode = body.value.PriceMode,",
						"          PrintSEPADirect = body.value.PrintSEPADirect,",
						"          Printed = body.value.Printed,",
						"          PrivateKeyVersion = body.value.PrivateKeyVersion,",
						"          Project = body.value.Project,",
						"          Receiver = body.value.Receiver,",
						"          Reference1 = body.value.Reference1,",
						"          Reference2 = body.value.Reference2,",
						"          RelatedEntry = body.value.RelatedEntry,",
						"          RelatedType = body.value.RelatedType,",
						"          Releaser = body.value.Releaser,",
						"          RelevantToGTS = body.value.RelevantToGTS,",
						"          ReopenManuallyClosedOrCanceledDocument = body.value.ReopenManuallyClosedOrCanceledDocument,",
						"          ReopenOriginalDocument = body.value.ReopenOriginalDocument,",
						"          ReportingSectionControlStatementVAT = body.value.ReportingSectionControlStatementVAT,",
						"          RequriedDate = body.value.RequriedDate,",
						"          Reserve = body.value.Reserve,",
						"          ReserveInvoice = body.value.ReserveInvoice,",
						"          ReuseDocumentNum = body.value.ReuseDocumentNum,",
						"          ReuseNotaFiscalNum = body.value.ReuseNotaFiscalNum,",
						"          RevisionPo = body.value.RevisionPo,",
						"          Rounding = body.value.Rounding,",
						"          RoundingDiffAmount = body.value.RoundingDiffAmount,",
						"          RoundingDiffAmountFC = body.value.RoundingDiffAmountFC,",
						"          RoundingDiffAmountSC = body.value.RoundingDiffAmountSC,",
						"          SAPPassport = body.value.SAPPassport,",
						"          SalesPersonCode = body.value.SalesPersonCode,",
						"          Segment = body.value.Segment,",
						"          SequenceCode = body.value.SequenceCode,",
						"          SequenceModel = body.value.SequenceModel,",
						"          SequenceSerial = body.value.SequenceSerial,",
						"          Series = body.value.Series,",
						"          SeriesString = body.value.SeriesString,",
						"          ServiceGrossProfitPercent = body.value.ServiceGrossProfitPercent,",
						"          ShipFrom = body.value.ShipFrom,",
						"          ShipPlace = body.value.ShipPlace,",
						"          ShipState = body.value.ShipState,",
						"          ShipToCode = body.value.ShipToCode,",
						"          ShowSCN = body.value.ShowSCN,",
						"          SignatureDigest = body.value.SignatureDigest,",
						"          SignatureInputMessage = body.value.SignatureInputMessage,",
						"          SpecifiedClosingDate = body.value.SpecifiedClosingDate,",
						"          StartDeliveryDate = body.value.StartDeliveryDate,",
						"          StartDeliveryTime = body.value.StartDeliveryTime,",
						"          StartFrom = body.value.StartFrom,",
						"          SubSeriesString = body.value.SubSeriesString,",
						"          Submitted = body.value.Submitted,",
						"          SummeryType = body.value.SummeryType,",
						"          Supplier = body.value.Supplier,",
						"          TaxDate = body.value.TaxDate,",
						"          TaxExemptionLetterNum = body.value.TaxExemptionLetterNum,",
						"          TotalDiscount = body.value.TotalDiscount,",
						"          TotalDiscountFC = body.value.TotalDiscountFC,",
						"          TotalDiscountSC = body.value.TotalDiscountSC,",
						"          TotalEqualizationTax = body.value.TotalEqualizationTax,",
						"          TotalEqualizationTaxFC = body.value.TotalEqualizationTaxFC,",
						"          TotalEqualizationTaxSC = body.value.TotalEqualizationTaxSC,",
						"          TrackingNumber = body.value.TrackingNumber,",
						"          TransNum = body.value.TransNum,",
						"          TransportationCode = body.value.TransportationCode,",
						"          U_AIG_KID = body.value.U_AIG_KID,",
						"          U_DSS_EHFBuyersRef = body.value.U_DSS_EHFBuyersRef,",
						"          U_DSS_SendStatus = body.value.U_DSS_SendStatus,",
						"          U_Levbet = body.value.U_Levbet,",
						"          U_Opperk = body.value.U_Opperk,",
						"          U_Ordrenummer = body.value.U_Ordrenummer,",
						"          U_Sted = body.value.U_Sted,",
						"          U_esurl = body.value.U_esurl,",
						"          U_sluttkunde = body.value.U_sluttkunde,",
						"          UpdateDate = body.value.UpdateDate,",
						"          UpdateTime = body.value.UpdateTime,",
						"          UseBillToAddrToDetermineTax = body.value.UseBillToAddrToDetermineTax,",
						"          UseCorrectionVATGroup = body.value.UseCorrectionVATGroup,",
						"          UseShpdGoodsAct = body.value.UseShpdGoodsAct,",
						"          UserSign = body.value.UserSign,",
						"          VATRegNum = body.value.VATRegNum,",
						"          VatDate = body.value.VatDate,",
						"          VatPercent = body.value.VatPercent,",
						"          VatSum = body.value.VatSum,",
						"          VatSumFc = body.value.VatSumFc,",
						"          VatSumSys = body.value.VatSumSys,",
						"          VehiclePlate = body.value.VehiclePlate,",
						"          WTAmount = body.value.WTAmount,",
						"          WTAmountFC = body.value.WTAmountFC,",
						"          WTAmountSC = body.value.WTAmountSC,",
						"          WTApplied = body.value.WTApplied,",
						"          WTAppliedFC = body.value.WTAppliedFC,",
						"          WTAppliedSC = body.value.WTAppliedSC,",
						"          WTExemptedAmount = body.value.WTExemptedAmount,",
						"          WTExemptedAmountFC = body.value.WTExemptedAmountFC,",
						"          WTExemptedAmountSC = body.value.WTExemptedAmountSC,",
						"          WTNonSubjectAmount = body.value.WTNonSubjectAmount,",
						"          WTNonSubjectAmountFC = body.value.WTNonSubjectAmountFC,",
						"          WTNonSubjectAmountSC = body.value.WTNonSubjectAmountSC,",
						"          WareHouseUpdateType = body.value.WareHouseUpdateType",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> FlattenOrders",
						"FlattenOrders derive(m_ds = 'Bondura') ~> dataSourceId",
						"dataSourceId sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> SinkToSQLTable"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_bo_orders_doclines')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_bo_sap_orders",
								"type": "DatasetReference"
							},
							"name": "apiOrders"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "sql_bo_orders_lines",
								"type": "DatasetReference"
							},
							"name": "SinkToSQLTable"
						}
					],
					"transformations": [
						{
							"name": "FlattenDocumentLines"
						}
					],
					"scriptLines": [
						"source(output(",
						"          body as ({@odata.context} as string, {@odata.nextLink} as string, value as ({@odata.etag} as string, ATDocumentType as string, AddLegIn as string, Address as string, Address2 as string, AgentCode as string, AnnualInvoiceDeclarationReference as string, ApplyCurrentVATRatesForDownPaymentsToDraw as string, ApplyTaxOnFirstInstallment as string, ArchiveNonremovableSalesQuotation as string, AssetValueDate as string, AttachmentEntry as string, AuthorizationCode as string, AuthorizationStatus as string, BPChannelCode as string, BPChannelContact as string, BPLName as string, BPL_IDAssignedToInvoice as string, BaseAmount as double, BaseAmountFC as double, BaseAmountSC as double, BillOfExchangeReserved as string, BlanketAgreementNumber as string, BlockDunning as string, Box1099 as string, CancelDate as date, CancelStatus as string, Cancelled as string, CardCode as integer, CardName as string, CashDiscountDateOffset as boolean, CentralBankIndicator as string, CertificationNumber as string, Cig as string, ClosingDate as string, ClosingOption as string, ClosingRemarks as string, Comments as string, CommissionTrade as string, CommissionTradeReturn as string, Confirmed as string, ContactPersonCode as short, ControlAccount as short, CreateOnlineQuotation as string, CreateQRCodeFrom as string, CreationDate as date, Cup as string, CustOffice as string, DANFELgTxt as string, DataVersion as boolean, DateOfReportingControlStatementVAT as string, DeferredTax as string, DiscountPercent as double, DocCurrency as string, DocDate as date, DocDueDate as date, DocEntry as short, DocNum as integer, DocObjectCode as string, DocRate as double, DocTime as string, DocTotal as double, DocTotalFc as double, DocTotalSys as double, DocType as string, DocumentAdditionalExpenses as string[], DocumentDelivery as string, DocumentLines as (AccountCode as short, ActualBaseEntry as string, ActualBaseLine as string, ActualDeliveryDate as string, Address as string, AgreementNo as string, AgreementRowNumber as string, AppliedTax as double, AppliedTaxFC as double, AppliedTaxSC as double, BackOrder as string, BarCode as string, BaseEntry as string, BaseLine as string, BaseOpenQuantity as double, BaseType as short, BatchNumbers as string[], CESTCode as string, CFOPCode as string, CNJPMan as string, COGSAccountCode as short, COGSCostingCode as string, COGSCostingCode2 as string, COGSCostingCode3 as string, COGSCostingCode4 as string, COGSCostingCode5 as string, CSTCode as string, CSTforCOFINS as string, CSTforIPI as string, CSTforPIS as string, CUSplit as string, ChangeAssemlyBoMWarehouse as boolean, ChangeInventoryQuantityIndependently as string, CommisionPercent as double, CommodityClassification as string, ConsiderQuantity as string, ConsumerSalesForecast as string, CorrInvAmountToDiffAcct as double, CorrInvAmountToStock as double, CorrectionInvoiceItem as string, CostingCode as string, CostingCode2 as string, CostingCode3 as string, CostingCode4 as string, CostingCode5 as string, CountryOrg as string, CreditOriginCode as string, CtrSealQty as string, Currency as string, DefectAndBreakup as string, DeferredTax as string, DestinationCountryForImport as string, DestinationRegionForImport as string, DiscountPercent as double, DistributeExpense as string, DocEntry as short, DocumentLineAdditionalExpenses as string[], DocumentLinesBinAllocations as string[], EqualizationTaxPercent as double, ExLineNo as string, ExciseAmount as double, ExpenseOperationType as string, ExpenseType as string, ExternalCalcTaxAmount as string, ExternalCalcTaxAmountFC as string, ExternalCalcTaxAmountSC as string, ExternalCalcTaxRate as string, Factor1 as double, Factor2 as double, Factor3 as double, Factor4 as double, FederalTaxID as string, FreeOfChargeBP as string, FreeText as string, GrossBase as short, GrossBuyPrice as double, GrossPrice as double, GrossProfit as double, GrossProfitFC as double, GrossProfitSC as double, GrossProfitTotalBasePrice as double, GrossTotal as double, GrossTotalFC as double, GrossTotalSC as double, HSNEntry as string, Height1 as double, Height2 as double, Height2Unit as string, Hight1Unit as string, Incoterms as boolean, IndEscala as string, InventoryQuantity as double, ItemCode as integer, ItemDescription as string, ItemDetails as string, ItemType as string, LastBuyDistributeSum as double, LastBuyDistributeSumFc as double, LastBuyDistributeSumSc as double, LastBuyInmPrice as double, Lengh1 as double, Lengh1Unit as string, Lengh2 as double, Lengh2Unit as string, LineNum as short, LineStatus as string, LineTaxJurisdictions as string[], LineTotal as double, LineType as string, LocationCode as string, MeasureUnit as string, NCMCode as short, NVECode as string, NatureOfTransaction as string, NetTaxAmount as double, NetTaxAmountFC as double, NetTaxAmountSC as double, OpenAmount as double, OpenAmountFC as double, OpenAmountSC as double, OriginCountryForExport as string, OriginRegionForExport as string, OriginalItem as integer, OwnerCode as short, POTargetEntry as string, POTargetNum as string, POTargetRowNum as string, PackageQuantity as double, ParentLineNum as string, PartialRetirement as string, PickListIdNumber as string, PickQuantity as double, PickStatus as string, PickStatusEx as string, PoItmNum as string, PoNum as string, Price as double, PriceAfterVAT as double, PriceSource as string, ProjectCode as string, Quantity as double, Rate as double, ReceiptNumber as string, RemainingOpenInventoryQuantity as double, RemainingOpenQuantity as double, RequiredDate as string, RequiredQuantity as string, RetirementAPC as string, RetirementQuantity as string, ReverseCharge as string, RowTotalFC as double, RowTotalSC as double, SACEntry as string, SWW as string, SalesPersonCode as short, SerialNum as string, SerialNumbers as string[], ShipDate as date, ShipToCode as string, ShipToDescription as string, ShippingMethod as short, Shortages as string, StandardItemIdentification as string, StgDesc as string, StgEntry as string, StgSeqNum as string, StockDistributesum as double, StockDistributesumForeign as double, StockDistributesumSystem as double, StockInmPrice as double, SupplierCatNum as string, Surpluses as string, TaxBeforeDPM as double, TaxBeforeDPMFC as double, TaxBeforeDPMSC as double, TaxCode as string, TaxLiable as string, TaxOnly as string, TaxPerUnit as double, TaxPercentagePerRow as double, TaxTotal as double, TaxType as string, Text as string, ThirdParty as string, TotalEqualizationTax as double, TotalEqualizationTaxFC as double, TotalEqualizationTaxSC as double, TotalInclTax as double, TransactionType as string, TransportMode as boolean, TreeType as string, UFFiscalBenefitCode as string, U_AIG_DDate as string, U_AIG_IA as double, U_AIG_ID as string, U_AIG_IN as string, U_AIG_IR as string, U_AIG_PD as string, U_AIG_PDate as string, U_Codebars as string, U_DSS_Charge as string, U_DSS_ProdOrdr as string, U_Installasjon as string, U_PItemCode as string, U_ParentItem as string, U_PlannedQty as double, U_U_AIG_DDate as string, UnencumberedReason as string, UnitPrice as double, UnitsOfMeasurment as double, UoMCode as string, UoMEntry as short, Usage as string, UseBaseUnits as string, VatGroup as string, VendorNum as string, VisualOrder as short, Volume as double, VolumeUnit as short, WTLiable as string, WarehouseCode as short, Weight1 as double, Weight1Unit as short, Weight2 as double, Weight2Unit as string, Width1 as double, Width1Unit as string, Width2 as double, Width2Unit as string, WithholdingTaxLines as string[], WithoutInventoryMovement as string)[], DocumentReferences as string[], DocumentSpecialLines as string[], DocumentStatus as string, DocumentSubType as string, DocumentTaxID as string, Document_ApprovalRequests as string[], DocumentsOwner as short, DownPayment as double, DownPaymentAmount as double, DownPaymentAmountFC as double, DownPaymentAmountSC as double, DownPaymentPercentage as double, DownPaymentStatus as string, DownPaymentType as string, EDocErrorCode as string, EDocErrorMessage as string, EDocExportFormat as string, EDocGenerationType as string, EDocNum as string, EDocSeries as string, EDocStatus as string, ETaxNumber as string, ETaxWebSite as string, ElecCommMessage as string, ElecCommStatus as string, ElectronicProtocols as string[], EndDeliveryDate as string, EndDeliveryTime as string, ExcludeFromTaxReportControlStatementVAT as string, ExemptionValidityDateFrom as string, ExemptionValidityDateTo as string, ExternalCorrectedDocNum as string, ExtraDays as short, ExtraMonth as boolean, FCI as string, FatherCard as string, FatherType as string, FederalTaxID as string, FinancialPeriod as short, FiscalDocNum as string, FolioNumber as string, FolioNumberFrom as string, FolioNumberTo as string, FolioPrefixString as string, Form1099 as string, GTSChecker as string, GTSPayee as string, GroupHandWritten as string, GroupNumber as string, GroupSeries as string, HandWritten as string, ImportFileNum as string, IndFinal as string, Indicator as string, InsuranceOperation347 as string, InterimType as string, InternalCorrectedDocNum as string, IsAlteration as string, IsPayToBank as string, JournalMemo as string, LanguageCode as short, LastPageFolioNumber as string, LegTextF as string, Letter as string, ManualNumber as string, MaximumCashDiscount as string, NTSApproved as string, NTSApprovedNumber as string, NetProcedure as string, NextCorrectingDocument as string, NumAtCard as string, NumberOfInstallments as boolean, OpenForLandedCosts as string, OpeningRemarks as string, POSCashierNumber as string, POSDailySummaryNo as string, POSEquipmentNumber as string, POSManufacturerSerialNumber as string, POSReceiptNo as string, POS_CashRegister as string, PartialSupply as string, PayToBankAccountNo as string, PayToBankBranch as string, PayToBankCode as string, PayToBankCountry as string, PayToCode as string, PaymentBlock as string, PaymentBlockEntry as string, PaymentGroupCode as boolean, PaymentMethod as string, PaymentReference as long, PeriodIndicator as string, Pick as string, PickRemark as string, PickStatus as string, PointOfIssueCode as string, PriceMode as string, PrintSEPADirect as string, Printed as string, PrivateKeyVersion as string, Project as string, Receiver as string, Reference1 as integer, Reference2 as string, RelatedEntry as string, RelatedType as short, Releaser as string, RelevantToGTS as string, ReopenManuallyClosedOrCanceledDocument as string, ReopenOriginalDocument as string, ReportingSectionControlStatementVAT as string, RequriedDate as date, Reserve as string, ReserveInvoice as string, ReuseDocumentNum as string, ReuseNotaFiscalNum as string, RevisionPo as string, Rounding as string, RoundingDiffAmount as double, RoundingDiffAmountFC as double, RoundingDiffAmountSC as double, SAPPassport as string, SalesPersonCode as short, Segment as boolean, SequenceCode as string, SequenceModel as boolean, SequenceSerial as string, Series as short, SeriesString as string, ServiceGrossProfitPercent as string, ShipFrom as string, ShipPlace as string, ShipState as string, ShipToCode as string, ShowSCN as string, SignatureDigest as string, SignatureInputMessage as string, SpecifiedClosingDate as string, StartDeliveryDate as string, StartDeliveryTime as string, StartFrom as string, SubSeriesString as string, Submitted as string, SummeryType as string, Supplier as string, TaxDate as date, TaxExemptionLetterNum as string, TotalDiscount as double, TotalDiscountFC as double, TotalDiscountSC as double, TotalEqualizationTax as double, TotalEqualizationTaxFC as double, TotalEqualizationTaxSC as double, TrackingNumber as string, TransNum as string, TransportationCode as short, U_AIG_KID as string, U_DSS_EHFBuyersRef as string, U_DSS_SendStatus as boolean, U_Levbet as string, U_Opperk as string, U_Ordrenummer as short, U_Sted as string, U_esurl as string, U_sluttkunde as string, UpdateDate as date, UpdateTime as string, UseBillToAddrToDetermineTax as string, UseCorrectionVATGroup as string, UseShpdGoodsAct as string, UserSign as short, VATRegNum as string, VatDate as string, VatPercent as double, VatSum as double, VatSumFc as double, VatSumSys as double, VehiclePlate as string, WTAmount as double, WTAmountFC as double, WTAmountSC as double, WTApplied as double, WTAppliedFC as double, WTAppliedSC as double, WTExemptedAmount as double, WTExemptedAmountFC as double, WTExemptedAmountSC as double, WTNonSubjectAmount as double, WTNonSubjectAmountFC as double, WTNonSubjectAmountSC as double, WareHouseUpdateType as string, WithholdingTaxDataCollection as string[], WithholdingTaxDataWTXCollection as string[])[]),",
						"          headers as [string,string]",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     httpMethod: 'GET',",
						"     timeout: 30,",
						"     requestInterval: 0,",
						"     responseFormat: ['type' -> 'json', 'documentForm' -> 'arrayOfDocuments']) ~> apiOrders",
						"apiOrders foldDown(unroll(body.value.DocumentLines),",
						"     mapColumn(",
						"          CardCode = body.value.CardCode,",
						"          CardName = body.value.CardName,",
						"          DocDate = body.value.DocDate,",
						"          DocDueDate = body.value.DocDueDate,",
						"          DocNum = body.value.DocNum,",
						"          DocTime = body.value.DocTime,",
						"          AccountCode = body.value.DocumentLines.AccountCode,",
						"          ActualBaseEntry = body.value.DocumentLines.ActualBaseEntry,",
						"          ActualBaseLine = body.value.DocumentLines.ActualBaseLine,",
						"          ActualDeliveryDate = body.value.DocumentLines.ActualDeliveryDate,",
						"          Address = body.value.DocumentLines.Address,",
						"          AgreementNo = body.value.DocumentLines.AgreementNo,",
						"          AgreementRowNumber = body.value.DocumentLines.AgreementRowNumber,",
						"          AppliedTax = body.value.DocumentLines.AppliedTax,",
						"          AppliedTaxFC = body.value.DocumentLines.AppliedTaxFC,",
						"          AppliedTaxSC = body.value.DocumentLines.AppliedTaxSC,",
						"          BackOrder = body.value.DocumentLines.BackOrder,",
						"          BarCode = body.value.DocumentLines.BarCode,",
						"          BaseEntry = body.value.DocumentLines.BaseEntry,",
						"          BaseLine = body.value.DocumentLines.BaseLine,",
						"          BaseOpenQuantity = body.value.DocumentLines.BaseOpenQuantity,",
						"          BaseType = body.value.DocumentLines.BaseType,",
						"          CESTCode = body.value.DocumentLines.CESTCode,",
						"          CFOPCode = body.value.DocumentLines.CFOPCode,",
						"          CNJPMan = body.value.DocumentLines.CNJPMan,",
						"          COGSAccountCode = body.value.DocumentLines.COGSAccountCode,",
						"          COGSCostingCode = body.value.DocumentLines.COGSCostingCode,",
						"          COGSCostingCode2 = body.value.DocumentLines.COGSCostingCode2,",
						"          COGSCostingCode3 = body.value.DocumentLines.COGSCostingCode3,",
						"          COGSCostingCode4 = body.value.DocumentLines.COGSCostingCode4,",
						"          COGSCostingCode5 = body.value.DocumentLines.COGSCostingCode5,",
						"          CSTCode = body.value.DocumentLines.CSTCode,",
						"          CSTforCOFINS = body.value.DocumentLines.CSTforCOFINS,",
						"          CSTforIPI = body.value.DocumentLines.CSTforIPI,",
						"          CSTforPIS = body.value.DocumentLines.CSTforPIS,",
						"          CUSplit = body.value.DocumentLines.CUSplit,",
						"          ChangeAssemlyBoMWarehouse = body.value.DocumentLines.ChangeAssemlyBoMWarehouse,",
						"          ChangeInventoryQuantityIndependently = body.value.DocumentLines.ChangeInventoryQuantityIndependently,",
						"          CommisionPercent = body.value.DocumentLines.CommisionPercent,",
						"          CommodityClassification = body.value.DocumentLines.CommodityClassification,",
						"          ConsiderQuantity = body.value.DocumentLines.ConsiderQuantity,",
						"          ConsumerSalesForecast = body.value.DocumentLines.ConsumerSalesForecast,",
						"          CorrInvAmountToDiffAcct = body.value.DocumentLines.CorrInvAmountToDiffAcct,",
						"          CorrInvAmountToStock = body.value.DocumentLines.CorrInvAmountToStock,",
						"          CorrectionInvoiceItem = body.value.DocumentLines.CorrectionInvoiceItem,",
						"          CostingCode = body.value.DocumentLines.CostingCode,",
						"          CostingCode2 = body.value.DocumentLines.CostingCode2,",
						"          CostingCode3 = body.value.DocumentLines.CostingCode3,",
						"          CostingCode4 = body.value.DocumentLines.CostingCode4,",
						"          CostingCode5 = body.value.DocumentLines.CostingCode5,",
						"          CountryOrg = body.value.DocumentLines.CountryOrg,",
						"          CreditOriginCode = body.value.DocumentLines.CreditOriginCode,",
						"          CtrSealQty = body.value.DocumentLines.CtrSealQty,",
						"          Currency = body.value.DocumentLines.Currency,",
						"          DefectAndBreakup = body.value.DocumentLines.DefectAndBreakup,",
						"          DeferredTax = body.value.DocumentLines.DeferredTax,",
						"          DestinationCountryForImport = body.value.DocumentLines.DestinationCountryForImport,",
						"          DestinationRegionForImport = body.value.DocumentLines.DestinationRegionForImport,",
						"          DiscountPercent = body.value.DocumentLines.DiscountPercent,",
						"          DistributeExpense = body.value.DocumentLines.DistributeExpense,",
						"          DocEntry = body.value.DocumentLines.DocEntry,",
						"          EqualizationTaxPercent = body.value.DocumentLines.EqualizationTaxPercent,",
						"          ExLineNo = body.value.DocumentLines.ExLineNo,",
						"          ExciseAmount = body.value.DocumentLines.ExciseAmount,",
						"          ExpenseOperationType = body.value.DocumentLines.ExpenseOperationType,",
						"          ExpenseType = body.value.DocumentLines.ExpenseType,",
						"          ExternalCalcTaxAmount = body.value.DocumentLines.ExternalCalcTaxAmount,",
						"          ExternalCalcTaxAmountFC = body.value.DocumentLines.ExternalCalcTaxAmountFC,",
						"          ExternalCalcTaxAmountSC = body.value.DocumentLines.ExternalCalcTaxAmountSC,",
						"          ExternalCalcTaxRate = body.value.DocumentLines.ExternalCalcTaxRate,",
						"          Factor1 = body.value.DocumentLines.Factor1,",
						"          Factor2 = body.value.DocumentLines.Factor2,",
						"          Factor3 = body.value.DocumentLines.Factor3,",
						"          Factor4 = body.value.DocumentLines.Factor4,",
						"          FederalTaxID = body.value.DocumentLines.FederalTaxID,",
						"          FreeOfChargeBP = body.value.DocumentLines.FreeOfChargeBP,",
						"          FreeText = body.value.DocumentLines.FreeText,",
						"          GrossBase = body.value.DocumentLines.GrossBase,",
						"          GrossBuyPrice = body.value.DocumentLines.GrossBuyPrice,",
						"          GrossPrice = body.value.DocumentLines.GrossPrice,",
						"          GrossProfit = body.value.DocumentLines.GrossProfit,",
						"          GrossProfitFC = body.value.DocumentLines.GrossProfitFC,",
						"          GrossProfitSC = body.value.DocumentLines.GrossProfitSC,",
						"          GrossProfitTotalBasePrice = body.value.DocumentLines.GrossProfitTotalBasePrice,",
						"          GrossTotal = body.value.DocumentLines.GrossTotal,",
						"          GrossTotalFC = body.value.DocumentLines.GrossTotalFC,",
						"          GrossTotalSC = body.value.DocumentLines.GrossTotalSC,",
						"          HSNEntry = body.value.DocumentLines.HSNEntry,",
						"          Height1 = body.value.DocumentLines.Height1,",
						"          Height2 = body.value.DocumentLines.Height2,",
						"          Height2Unit = body.value.DocumentLines.Height2Unit,",
						"          Hight1Unit = body.value.DocumentLines.Hight1Unit,",
						"          Incoterms = body.value.DocumentLines.Incoterms,",
						"          IndEscala = body.value.DocumentLines.IndEscala,",
						"          InventoryQuantity = body.value.DocumentLines.InventoryQuantity,",
						"          ItemCode = body.value.DocumentLines.ItemCode,",
						"          ItemDescription = body.value.DocumentLines.ItemDescription,",
						"          ItemDetails = body.value.DocumentLines.ItemDetails,",
						"          ItemType = body.value.DocumentLines.ItemType,",
						"          LastBuyDistributeSum = body.value.DocumentLines.LastBuyDistributeSum,",
						"          LastBuyDistributeSumFc = body.value.DocumentLines.LastBuyDistributeSumFc,",
						"          LastBuyDistributeSumSc = body.value.DocumentLines.LastBuyDistributeSumSc,",
						"          LastBuyInmPrice = body.value.DocumentLines.LastBuyInmPrice,",
						"          Lengh1 = body.value.DocumentLines.Lengh1,",
						"          Lengh1Unit = body.value.DocumentLines.Lengh1Unit,",
						"          Lengh2 = body.value.DocumentLines.Lengh2,",
						"          Lengh2Unit = body.value.DocumentLines.Lengh2Unit,",
						"          LineNum = body.value.DocumentLines.LineNum,",
						"          LineStatus = body.value.DocumentLines.LineStatus,",
						"          LineTotal = body.value.DocumentLines.LineTotal,",
						"          LineType = body.value.DocumentLines.LineType,",
						"          LocationCode = body.value.DocumentLines.LocationCode,",
						"          MeasureUnit = body.value.DocumentLines.MeasureUnit,",
						"          NCMCode = body.value.DocumentLines.NCMCode,",
						"          NVECode = body.value.DocumentLines.NVECode,",
						"          NatureOfTransaction = body.value.DocumentLines.NatureOfTransaction,",
						"          NetTaxAmount = body.value.DocumentLines.NetTaxAmount,",
						"          NetTaxAmountFC = body.value.DocumentLines.NetTaxAmountFC,",
						"          NetTaxAmountSC = body.value.DocumentLines.NetTaxAmountSC,",
						"          OpenAmount = body.value.DocumentLines.OpenAmount,",
						"          OpenAmountFC = body.value.DocumentLines.OpenAmountFC,",
						"          OpenAmountSC = body.value.DocumentLines.OpenAmountSC,",
						"          OriginCountryForExport = body.value.DocumentLines.OriginCountryForExport,",
						"          OriginRegionForExport = body.value.DocumentLines.OriginRegionForExport,",
						"          OriginalItem = body.value.DocumentLines.OriginalItem,",
						"          OwnerCode = body.value.DocumentLines.OwnerCode,",
						"          POTargetEntry = body.value.DocumentLines.POTargetEntry,",
						"          POTargetNum = body.value.DocumentLines.POTargetNum,",
						"          POTargetRowNum = body.value.DocumentLines.POTargetRowNum,",
						"          PackageQuantity = body.value.DocumentLines.PackageQuantity,",
						"          ParentLineNum = body.value.DocumentLines.ParentLineNum,",
						"          PartialRetirement = body.value.DocumentLines.PartialRetirement,",
						"          PickListIdNumber = body.value.DocumentLines.PickListIdNumber,",
						"          PickQuantity = body.value.DocumentLines.PickQuantity,",
						"          PickStatus = body.value.DocumentLines.PickStatus,",
						"          PickStatusEx = body.value.DocumentLines.PickStatusEx,",
						"          PoItmNum = body.value.DocumentLines.PoItmNum,",
						"          PoNum = body.value.DocumentLines.PoNum,",
						"          Price = body.value.DocumentLines.Price,",
						"          PriceAfterVAT = body.value.DocumentLines.PriceAfterVAT,",
						"          PriceSource = body.value.DocumentLines.PriceSource,",
						"          ProjectCode = body.value.DocumentLines.ProjectCode,",
						"          Quantity = body.value.DocumentLines.Quantity,",
						"          Rate = body.value.DocumentLines.Rate,",
						"          ReceiptNumber = body.value.DocumentLines.ReceiptNumber,",
						"          RemainingOpenInventoryQuantity = body.value.DocumentLines.RemainingOpenInventoryQuantity,",
						"          RemainingOpenQuantity = body.value.DocumentLines.RemainingOpenQuantity,",
						"          RequiredDate = body.value.DocumentLines.RequiredDate,",
						"          RequiredQuantity = body.value.DocumentLines.RequiredQuantity,",
						"          RetirementAPC = body.value.DocumentLines.RetirementAPC,",
						"          RetirementQuantity = body.value.DocumentLines.RetirementQuantity,",
						"          ReverseCharge = body.value.DocumentLines.ReverseCharge,",
						"          RowTotalFC = body.value.DocumentLines.RowTotalFC,",
						"          RowTotalSC = body.value.DocumentLines.RowTotalSC,",
						"          SACEntry = body.value.DocumentLines.SACEntry,",
						"          SWW = body.value.DocumentLines.SWW,",
						"          SalesPersonCode = body.value.DocumentLines.SalesPersonCode,",
						"          SerialNum = body.value.DocumentLines.SerialNum,",
						"          ShipDate = body.value.DocumentLines.ShipDate,",
						"          ShipToCode = body.value.DocumentLines.ShipToCode,",
						"          ShipToDescription = body.value.DocumentLines.ShipToDescription,",
						"          ShippingMethod = body.value.DocumentLines.ShippingMethod,",
						"          Shortages = body.value.DocumentLines.Shortages,",
						"          StandardItemIdentification = body.value.DocumentLines.StandardItemIdentification,",
						"          StgDesc = body.value.DocumentLines.StgDesc,",
						"          StgEntry = body.value.DocumentLines.StgEntry,",
						"          StgSeqNum = body.value.DocumentLines.StgSeqNum,",
						"          StockDistributesum = body.value.DocumentLines.StockDistributesum,",
						"          StockDistributesumForeign = body.value.DocumentLines.StockDistributesumForeign,",
						"          StockDistributesumSystem = body.value.DocumentLines.StockDistributesumSystem,",
						"          StockInmPrice = body.value.DocumentLines.StockInmPrice,",
						"          SupplierCatNum = body.value.DocumentLines.SupplierCatNum,",
						"          Surpluses = body.value.DocumentLines.Surpluses,",
						"          TaxBeforeDPM = body.value.DocumentLines.TaxBeforeDPM,",
						"          TaxBeforeDPMFC = body.value.DocumentLines.TaxBeforeDPMFC,",
						"          TaxBeforeDPMSC = body.value.DocumentLines.TaxBeforeDPMSC,",
						"          TaxCode = body.value.DocumentLines.TaxCode,",
						"          TaxLiable = body.value.DocumentLines.TaxLiable,",
						"          TaxOnly = body.value.DocumentLines.TaxOnly,",
						"          TaxPerUnit = body.value.DocumentLines.TaxPerUnit,",
						"          TaxPercentagePerRow = body.value.DocumentLines.TaxPercentagePerRow,",
						"          TaxTotal = body.value.DocumentLines.TaxTotal,",
						"          TaxType = body.value.DocumentLines.TaxType,",
						"          Text = body.value.DocumentLines.Text,",
						"          ThirdParty = body.value.DocumentLines.ThirdParty,",
						"          TotalEqualizationTax = body.value.DocumentLines.TotalEqualizationTax,",
						"          TotalEqualizationTaxFC = body.value.DocumentLines.TotalEqualizationTaxFC,",
						"          TotalEqualizationTaxSC = body.value.DocumentLines.TotalEqualizationTaxSC,",
						"          TotalInclTax = body.value.DocumentLines.TotalInclTax,",
						"          TransactionType = body.value.DocumentLines.TransactionType,",
						"          TransportMode = body.value.DocumentLines.TransportMode,",
						"          TreeType = body.value.DocumentLines.TreeType,",
						"          UFFiscalBenefitCode = body.value.DocumentLines.UFFiscalBenefitCode,",
						"          U_AIG_DDate = body.value.DocumentLines.U_AIG_DDate,",
						"          U_AIG_IA = body.value.DocumentLines.U_AIG_IA,",
						"          U_AIG_ID = body.value.DocumentLines.U_AIG_ID,",
						"          U_AIG_IN = body.value.DocumentLines.U_AIG_IN,",
						"          U_AIG_IR = body.value.DocumentLines.U_AIG_IR,",
						"          U_AIG_PD = body.value.DocumentLines.U_AIG_PD,",
						"          U_AIG_PDate = body.value.DocumentLines.U_AIG_PDate,",
						"          U_Codebars = body.value.DocumentLines.U_Codebars,",
						"          U_DSS_Charge = body.value.DocumentLines.U_DSS_Charge,",
						"          U_DSS_ProdOrdr = body.value.DocumentLines.U_DSS_ProdOrdr,",
						"          U_Installasjon = body.value.DocumentLines.U_Installasjon,",
						"          U_PItemCode = body.value.DocumentLines.U_PItemCode,",
						"          U_ParentItem = body.value.DocumentLines.U_ParentItem,",
						"          U_PlannedQty = body.value.DocumentLines.U_PlannedQty,",
						"          U_U_AIG_DDate = body.value.DocumentLines.U_U_AIG_DDate,",
						"          UnencumberedReason = body.value.DocumentLines.UnencumberedReason,",
						"          UnitPrice = body.value.DocumentLines.UnitPrice,",
						"          UnitsOfMeasurment = body.value.DocumentLines.UnitsOfMeasurment,",
						"          UoMCode = body.value.DocumentLines.UoMCode,",
						"          UoMEntry = body.value.DocumentLines.UoMEntry,",
						"          Usage = body.value.DocumentLines.Usage,",
						"          UseBaseUnits = body.value.DocumentLines.UseBaseUnits,",
						"          VatGroup = body.value.DocumentLines.VatGroup,",
						"          VendorNum = body.value.DocumentLines.VendorNum,",
						"          VisualOrder = body.value.DocumentLines.VisualOrder,",
						"          Volume = body.value.DocumentLines.Volume,",
						"          VolumeUnit = body.value.DocumentLines.VolumeUnit,",
						"          WTLiable = body.value.DocumentLines.WTLiable,",
						"          WarehouseCode = body.value.DocumentLines.WarehouseCode,",
						"          Weight1 = body.value.DocumentLines.Weight1,",
						"          Weight1Unit = body.value.DocumentLines.Weight1Unit,",
						"          Weight2 = body.value.DocumentLines.Weight2,",
						"          Weight2Unit = body.value.DocumentLines.Weight2Unit,",
						"          Width1 = body.value.DocumentLines.Width1,",
						"          Width1Unit = body.value.DocumentLines.Width1Unit,",
						"          Width2 = body.value.DocumentLines.Width2,",
						"          Width2Unit = body.value.DocumentLines.Width2Unit,",
						"          WithoutInventoryMovement = body.value.DocumentLines.WithoutInventoryMovement",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> FlattenDocumentLines",
						"FlattenDocumentLines sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> SinkToSQLTable"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pip_bo_sap_invoices_docLines')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AllPagesFetched",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(bool(variables('repeat')))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "ApiCallPagination",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "ETLDocLines",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "GET",
										"headers": {},
										"url": {
											"value": "@concat(variables('baseUrl'),variables('nextLink'),'&$select=DocNum')",
											"type": "Expression"
										},
										"authentication": {
											"type": "Basic",
											"username": "{\"CompanyDB\":\"BONDURA\",\"UserName\":\"CLOUD\\\\ui.report\"}",
											"password": {
												"type": "AzureKeyVaultSecret",
												"store": {
													"referenceName": "AzureKeyVault_bo",
													"type": "LinkedServiceReference"
												},
												"secretName": "Bondura"
											}
										}
									}
								},
								{
									"name": "GetNextLink",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "ApiCallPagination",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "nextLink",
										"value": {
											"value": "@if(contains(activity('ApiCallPagination').output, '@odata.nextLink'), replace(activity('ApiCallPagination').output['@odata.nextLink'],'&$select=DocNum' , '' ), 'false')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "ETLDocLines",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "ETLInvoices",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "df_bo_invoices_doclines",
											"type": "DataFlowReference",
											"parameters": {},
											"datasetParameters": {
												"apiOrders": {
													"resPath": "Invoices?$skip=2622"
												},
												"SinkToSQLTable": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 16,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								},
								{
									"name": "ETLInvoices",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "df_bo_invoices",
											"type": "DataFlowReference",
											"parameters": {},
											"datasetParameters": {
												"ApiCall": {},
												"SinkToSQLTable": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 16,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								},
								{
									"name": "ErrorStop",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "GetNextLink",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "ApiCallPagination",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "ETLDocLines",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "ETLInvoices",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "CheckRepeat",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "repeat",
										"value": {
											"value": "@bool(0)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "CheckRepeat",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "GetNextLink",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "repeat",
										"value": {
											"value": "@if(not(equals(variables('nextLink'), 'false')), true, false)",
											"type": "Expression"
										}
									}
								}
							],
							"timeout": "0.12:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"baseUrl": {
						"type": "String",
						"defaultValue": "https://SU-2111-139.emea.businessone.cloud.sap/b1s/v2/"
					},
					"nextLink": {
						"type": "String",
						"defaultValue": "Invoices?$skip=0"
					},
					"repeat": {
						"type": "Boolean",
						"defaultValue": true
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pip_bo_sap_invoices_master')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AllPagesFetched",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(bool(variables('repeat')))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "ApiCallPagination",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "ETLInvoices",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "GET",
										"headers": {},
										"url": {
											"value": "@concat(variables('baseUrl'),variables('nextLink'),'&$select=DocNum')",
											"type": "Expression"
										},
										"authentication": {
											"type": "Basic",
											"username": "{\"CompanyDB\":\"BONDURA\",\"UserName\":\"CLOUD\\\\ui.report\"}",
											"password": {
												"type": "AzureKeyVaultSecret",
												"store": {
													"referenceName": "AzureKeyVault_bo",
													"type": "LinkedServiceReference"
												},
												"secretName": "Bondura"
											}
										}
									}
								},
								{
									"name": "GetNextLink",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "ApiCallPagination",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "nextLink",
										"value": {
											"value": "@if(contains(activity('ApiCallPagination').output, '@odata.nextLink'), replace(activity('ApiCallPagination').output['@odata.nextLink'],'&$select=DocNum' , '' ), 'false')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "ETLInvoices",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "df_bo_invoices",
											"type": "DataFlowReference",
											"parameters": {},
											"datasetParameters": {
												"ApiCall": {
													"resPath": "Invoices?$skip=2622"
												},
												"SinkToSQLTable": {
													"tableName": "sample_invoices_master"
												}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								},
								{
									"name": "ErrorStop",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "GetNextLink",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "ApiCallPagination",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "ETLInvoices",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "CheckRepeat",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "repeat",
										"value": {
											"value": "@bool(0)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "CheckRepeat",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "GetNextLink",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "repeat",
										"value": {
											"value": "@if(not(equals(variables('nextLink'), 'false')), true, false)",
											"type": "Expression"
										}
									}
								}
							],
							"timeout": "0.12:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"baseUrl": {
						"type": "String",
						"defaultValue": "https://SU-2111-139.emea.businessone.cloud.sap/b1s/v2/"
					},
					"nextLink": {
						"type": "String",
						"defaultValue": "Invoices?$filter=DocDate%20gt%20%272024-01-01%27&$skip=0"
					},
					"repeat": {
						"type": "Boolean",
						"defaultValue": true
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pip_bo_sap_orders_docLines')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AllPagesFetched",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@empty(variables('nextLink'))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "ApiCallPagination",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "ETLDocLines",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "GET",
										"headers": {},
										"url": {
											"value": "@concat(variables('baseUrl'),variables('nextLink'),'&$select=DocNum')",
											"type": "Expression"
										},
										"authentication": {
											"type": "Basic",
											"username": "{\"CompanyDB\":\"BONDURA\",\"UserName\":\"CLOUD\\\\ui.report\"}",
											"password": {
												"type": "AzureKeyVaultSecret",
												"store": {
													"referenceName": "AzureKeyVault_bo",
													"type": "LinkedServiceReference"
												},
												"secretName": "Bondura"
											}
										}
									}
								},
								{
									"name": "GetNextLink",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "ApiCallPagination",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "nextLink",
										"value": {
											"value": "@replace(activity('ApiCallPagination').output['@odata.nextLink'],'&$select=DocNum' , '' )",
											"type": "Expression"
										}
									}
								},
								{
									"name": "ETLDocLines",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "ETLOrders",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "df_bo_orders_doclines",
											"type": "DataFlowReference",
											"parameters": {},
											"datasetParameters": {
												"apiOrders": {
													"QueryParam": {
														"value": "@variables('nextLink')",
														"type": "Expression"
													}
												},
												"SinkToSQLTable": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 16,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								},
								{
									"name": "ETLOrders",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "df_bo_orders",
											"type": "DataFlowReference",
											"parameters": {},
											"datasetParameters": {
												"ApiCall": {
													"QueryParam": {
														"value": "@variables('nextLink')",
														"type": "Expression"
													}
												},
												"SinkToSQLTable": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 16,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								},
								{
									"name": "setEmpty",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "GetNextLink",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "ApiCallPagination",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "ETLDocLines",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "ETLOrders",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "nextLink",
										"value": {
											"value": "''",
											"type": "Expression"
										}
									}
								}
							],
							"timeout": "0.12:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"baseUrl": {
						"type": "String",
						"defaultValue": "https://SU-2111-139.emea.businessone.cloud.sap/b1s/v2/"
					},
					"nextLink": {
						"type": "String",
						"defaultValue": "Orders?$skip=0"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_bo_orders_doclines')]",
				"[concat(variables('factoryId'), '/dataflows/df_bo_orders')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pip_test')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_bo_invoices_doclines_lake",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ReadJsonFile": {},
									"SinkSQL": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_bo_invoices_doclines_lake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_Json_Sql')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Json_SQL_Invoices",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Json_Pars",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SapAPI": {},
									"AzureSQL": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 16,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-04-25T11:07:38Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_bo_budgets_lines')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ReadBudgetLine",
						"description": "Create Dim for Budgets",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow_budget_lines",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ReadAPI": {},
									"SqlDimTable": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 16,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger_daily')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline_invoices_bo_inc",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "pipeline_orders_bo_inc",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-05-08T04:00:00",
						"timeZone": "W. Europe Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								4
							]
						}
					}
				}
			},
			"dependsOn": []
		}
	]
}